<li><%= link_to("lucky5", lucky_cart5_products_path, method: :post) %></li>
<li><%= link_to("lucky6", lucky_cart6_products_path, method: :post) %></li>
<li><%= link_to("lucky7", lucky_cart7_products_path, method: :post) %></li>
<li><%= link_to("lucky8", lucky_cart8_products_path, method: :post) %></li>
