<style media="screen">
.row-qa {
	margin-top: -30px;
	padding-bottom:30px;
}
.font-qa h1 {
	margin-top: 60px;
}
.font-qa h3 {
line-height:35px;
}
</style>
<div class="row row-qa">
	<div class="col-md-8 col-centered">
		<div class="font-qa" style="letter-spacing:1px; color: #666;">
			<h1>你们到底是干啥的？</h1>
			<h3>
				<p>吃过那么多道菜，但你有创造一道只属于你的菜么？品位实验室，圆你这个梦。</p>
				<p>听起来挺高大上的，其实就是面对终极三问：早上吃什么，中午吃什么，晚上吃什么，而爆发出的一声巨响（不是屁不是屁不是屁）。</p>
				<p>每天吃的东西，都像在流水线上生产出的一样，机械重复，吃了这么多年，你不腻么！</p>
				<p>你可能会想到要创新，但又由于没有经验失败率很高，没关系呀，我们有大厨的技艺，无论你的创意多么奇葩，我们都会在食验室里一遍又一遍的尝试，直到我们自己先满意，然后在向你提交答案。</p>
				<p>其实不只是你感到无聊，厨师们每天都做一样的东西也很枯燥呀，他们也想创新，但由于束缚太多，可能已经失去了飞翔的翅膀，快来用你的奇思妙想来帮助他们重新启程吧。</p>
			</h3>

			<h1>具体流程是怎样的呢？</h1>
			<h3>你选择原材料和厨师，填好时间和地点，我们就会在那个时候带着你点的东西来到要求的地方，按照你的要求，做出我们已经研究成功的菜品，我们还会细心的教你这道菜应该如何做出来的，有一个米其林星级厨师亲自教你如何下厨，想想就好开心。</h3>

			<h1>为什么会有这个网站</h1>
			<h3>这次作品是要以jdstore为基础的，但又非常不想和大家一样都是在卖东西，都一样的话好无聊的说，开始也想过卖功夫、卖男装、卖玩具、卖梦、卖记忆，但这个是最符合的，有画面感。</h3>

			<h1>更新这么多版，都是为了什么呀？</h1>
			<h3>
				<p>【第一版】品位实验室，是一个妥协，核心功能没有实现，不得已弄出了一个改变固有菜味道的网站，可以随意的添加六种调料，纠结了商标，搞了好久；</p>
				<p>【第二版】黑暗料理，想明白了一些事情，还是没有实现最初的设想，但找到方法绕过去了，增加了另一套product系统，随意的更改原材料，由于每位顾客挑选的原材料不同，最后的菜品是什么样谁也不知道，这也成为后面几版的核心功能，本来想弄一个大hover把所有恶搞的原材料盖住，只有翻开才会有惊喜，但纯用css太难实现了最后也是妥协，为了推这一版，把首页改到黑暗料理这边，搞得大家摸不到头脑；</p>
				<p>【第三版】品位实验室更新，由于品位实验室太丑了，回去调整界面了，修复了一堆难看的地方，增加省市区详细地址，；</p>
				<p>【第四版】黑暗料理更新，由于品位实验室太好看了，显得黑暗料理好糟糕，回去弄黑暗料理了。</p>
				<p>【第五版】landingpage东西太空，增加了用户评价与保证，一直到现在；</p>
				<p>【第六版】增加大厨聚会的板块，一堆星级大厨聚到一起，能吃到什么呢？不知道，反正会很好吃，和谁一起吃呢？也不知道，但一定会很有趣，想把这个聚会打造成一个以美食为主题的高质量社交沙龙，增加日期，哪天有时间去你家做法呀；</p>
				<p>【第七版】黑暗料理更新，用javascript重新调整了覆盖，一直到现在；</p>
				<p>【第八版】招聘板块，发现我们的厨师不够用了，赶紧招聘，星级厨师们，快到碗里来；</p>
				<p>【第九版】主打随机功能，想变得好玩一点，这个功能是问daniel学长才搞出来的，为了对他致敬，flash都没有修改，ps：我是纯爷们；</p>
				<p>【第十版】增加Q&A板块，给那些想知道我们在做什么的人准备的，我们的文案有点弱，又做的是一个新型服务产品，没办法用几句话说明白我们是做什么的，特别没画面感呀。大段大段的话又不会有人看，所以单独增加一个页面，给那些深入体验顾客，算是送给你的彩蛋把。</p>
				<p>前端界面都是靠我队友，真是辛苦他了。</p>
			</h3>

			<h1>你们的routes怎么那么多？</h1>
			<h3>（笑）我们的作品是两个jdstore加一个job-listing，还有一些其他的功能：评论、分类，所以就显得会比较多。views、migrate也是如此。</h3>
		</div>
	</div>
</div>
