<!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**-->
<div class="ui--rev-slider">
  <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#333333;padding:0px;margin-top:0px;margin-bottom:0px;max-height:660px;">
  	<div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:660px;height:660px;">
      <ul>
	  <!-- SLIDE  -->
    <li data-transition="fade,boxfade,slotfade-horizontal,slotfade-vertical" data-slotamount="70" data-masterspeed="300"  data-saveperformance="off" >
    <!-- MAIN IMAGE -->
        <img src="http://ww2.sinaimg.cn/large/006tNbRwgy1ffs5496y8ij31hc0ms4qr.jpg"  alt="hireachef-slider321"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
    <!-- LAYERS -->
      <div class="tp-caption caption-dark-bg tp-fade tp-resizeme tp-black-1"
        data-x="132"
        data-y="250"
        data-speed="300"
        data-start="500"
        data-easing="Power3.easeInOut"
        data-splitin="none"
        data-splitout="none"
        data-elementdelay="0.1"
        data-endelementdelay="0.1"
        data-endspeed="300"
        style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
        自定菜谱
        选好底料调味
      </div>
    </li>

    	<li data-transition="fade,slotfade-horizontal,slotfade-vertical" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off">
		<!-- MAIN IMAGE -->
    		<img src="https://www.hireachef.com/wp-content/uploads/2014/07/hireachef-slider2.jpg"  alt="hireachef-slider2"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		<!-- LAYER NR. 1 -->
    <div class="tp-caption caption-dark-bg tp-fade tp-resizeme tp-black-1"
      data-x="132"
      data-y="250"
      data-speed="300"
      data-start="500"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
      大厨上门
          协助完成菜品
    		</div>
    	</li>
	  <!-- SLIDE  -->

		<!-- LAYER NR. 1 -->
    		<!-- <div class="tp-caption caption-dark-bg3 tp-fade tp-resizeme"
    			data-x="5"
    			data-y="164"
    			data-speed="300"
    			data-start="500"
    			data-easing="Power3.easeInOut"
    			data-splitin="none"
    			data-splitout="none"
    			data-elementdelay="0.1"
    			data-endelementdelay="0.1"
    			data-endspeed="300"
    			style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
          Learn more about what a <br>
          Personal Chef can do for you.
    		</div> -->
		<!-- LAYER NR. 2 -->
    		<!-- <div class="tp-caption caption-primary-white2 tp-fade tp-resizeme"
    			data-x="72"
    			data-y="334"
    			data-speed="300"
    			data-start="500"
    			data-easing="Power3.easeInOut"
    			data-splitin="none"
    			data-splitout="none"
    			data-elementdelay="0.1"
    			data-endelementdelay="0.1"
    			data-endspeed="300"
    			style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
          Click on the video to the right
          <i class="ui--icon fontawesome-circle-arrow-right icon-inline-block" style="font-size: 18px;  width: 22px;  height: 22px;  color: #ffffff !important;  margin-right: 5px;"></i>
    		</div> -->
		<!-- LAYER NR. 3 -->
    		<!-- <div class="tp-caption tp-fade"
    			data-x="right" data-hoffset="-10"
    			data-y="center" data-voffset="0"
    			data-speed="300"
    			data-start="500"
    			data-easing="Power3.easeInOut"
    			data-elementdelay="0.1"
    			data-endelementdelay="0.1"
    			data-endspeed="300"
    			style="z-index: 4;"><img src="https://hireachef.com/wp-content/uploads/2014/09/tablet.png" alt="">
    		</div> -->
		<!-- LAYER NR. 4 -->
    		<!-- <div class="tp-caption tp-fade"
    			data-x="555"
    			data-y="135"
    			data-speed="300"
    			data-start="500"
    			data-easing="Power3.easeInOut"
    			data-elementdelay="0.1"
    			data-endelementdelay="0.1"
    			data-endspeed="300"
    			data-autoplay="false"
    			data-autoplayonlyfirsttime="false"
    			data-nextslideatend="true"
    			data-thumbimage="http://hireachef.com/wp-content/uploads/2014/09/video-prev2.jpg"
    			style="z-index: 5;"><iframe src='https://www.youtube.com/embed/O36iIOswK84?enablejsapi=1&amp;html5=1&amp;hd=1&wmode=opaque&controls=1&showinfo=0;;origin=https://www.hireachef.com;controls=0;' allowfullscreen='true' width='549' height='388' style='width:549px;height:388px;'></iframe>
    		</div> -->
    	</li>
      <li data-transition="fade,fadefromright,fadefromleft,fadefromtop,fadefrombottom" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
      <img src="https://www.hireachef.com/wp-content/uploads/2016/02/3724812_l-1.jpg"
       alt="3724812_l-1"  data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat">
       <div class="tp-caption caption-dark-bg tp-fade tp-resizeme tp-black-1"
         data-x="132"
         data-y="250"
         data-speed="300"
         data-start="500"
         data-easing="Power3.easeInOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         data-endspeed="300"
         style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
         品尝时光
享受欢乐味道
      </div>
    </li>
    </ul>
    <div class="tp-bannertimer"></div>
  </div>
</div>
<script type="text/javascript">
				var setREVStartSize = function() {
            var	tpopt = new Object();
						tpopt.startwidth = 1170;
						tpopt.startheight = 660;
						tpopt.container = jQuery('#rev_slider_1_1');
						tpopt.fullScreen = "off";
						tpopt.forceFullWidth="on";
					tpopt.container.closest(".rev_slider_wrapper").css({height: tpopt.container.height()
        });
        tpopt.width=parseInt(tpopt.container.width(),0);tpopt.height=parseInt(tpopt.container.height(),0);tpopt.bw=tpopt.width/tpopt.startwidth;tpopt.bh=tpopt.height/tpopt.startheight;if(tpopt.bh>tpopt.bw)tpopt.bh=tpopt.bw;if(tpopt.bh<tpopt.bw)tpopt.bw=tpopt.bh;if(tpopt.bw<tpopt.bh)tpopt.bh=tpopt.bw;if(tpopt.bh>1) {
        tpopt.bw=1;tpopt.bh=1
        }
        if(tpopt.bw>1) {
        tpopt.bw=1;tpopt.bh=1
        }
        tpopt.height=Math.round(tpopt.startheight*(tpopt.width/tpopt.startwidth));if(tpopt.height>tpopt.startheight&&tpopt.autoHeight!="on")tpopt.height=tpopt.startheight;if(tpopt.fullScreen=="on") {
        tpopt.height=tpopt.bw*tpopt.startheight;var cow=tpopt.container.parent().width();var coh=jQuery(window).height();if(tpopt.fullScreenOffsetContainer!=undefined){try{var offcontainers=tpopt.fullScreenOffsetContainer.split(",");jQuery.each(offcontainers,function(e,t){coh=coh-jQuery(t).outerHeight(true);if(coh<tpopt.minFullScreenHeight)coh=tpopt.minFullScreenHeight
        })}
        catch(e) {
        }}
        tpopt.container.parent().height(coh);tpopt.container.height(coh);tpopt.container.closest(".rev_slider_wrapper").height(coh);tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(coh);tpopt.container.css( {
        height: "100%"
        });
        tpopt.height=coh;
        }
        else {
        tpopt.container.height(tpopt.height);tpopt.container.closest(".rev_slider_wrapper").height(tpopt.height);tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(tpopt.height);
        }
				};
				/* CALL PLACEHOLDER */
        setREVStartSize();
				var tpj=jQuery;
				tpj.noConflict();
				var revapi1;
				tpj(document).ready(function() {
        if(tpj('#rev_slider_1_1').revolution == undefined)
					revslider_showDoubleJqueryError('#rev_slider_1_1');
				else
				   revapi1 = tpj('#rev_slider_1_1').show().revolution(
					{
						dottedOverlay: "none",
						delay:8000,
						startwidth:1170,
						startheight:660,
						hideThumbs:200,
						thumbWidth:100,
						thumbHeight:50,
						thumbAmount:3,
						navigationType:"bullet",
						navigationArrows:"solo",
						navigationStyle:"round",
						touchenabled:"on",
						onHoverStop:"off",
						swipe_velocity: 0.7,
						swipe_min_touches: 1,
						swipe_max_touches: 1,
						drag_block_vertical: false,
						keyboardNavigation:"on",
						navigationHAlign:"center",
						navigationVAlign:"bottom",
						navigationHOffset:0,
						navigationVOffset:20,
						soloArrowLeftHalign:"left",
						soloArrowLeftValign:"center",
						soloArrowLeftHOffset:20,
						soloArrowLeftVOffset:0,
						soloArrowRightHalign:"right",
						soloArrowRightValign:"center",
						soloArrowRightHOffset:20,
						soloArrowRightVOffset:0,
						shadow:0,
						fullWidth:"on",
						fullScreen:"off",
						spinner:"spinner4",
						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,
						shuffle:"off",
						autoHeight:"off",
						forceFullWidth:"on",
						hideThumbsOnMobile:"off",
						hideNavDelayOnMobile:1500,
						hideBulletsOnMobile:"off",
						hideArrowsOnMobile:"off",
						hideThumbsUnderResolution:0,
												hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						startWithSlide:0
        });
				});	/*ready*/
		</script>
		<style type="text/css">
    	#rev_slider_1_1_wrapper .tp-loader.spinner4 div {
    background-color: #FFFFFF !important;
    }
  </style>
</div>
<!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**-->
