<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js html-loading wf-active ie old-browser lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>         <html class="no-js html-loading wf-active ie old-browser ie7 lt-ie10 lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>         <html class="no-js html-loading wf-active ie old-browser ie8 lt-ie10 lt-ie9" lang="en-US"> <![endif]-->
<!--[if IE 9]>         <html class="no-js html-loading wf-active ie modern-browser ie9 lt-ie10" lang="en-US"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js html-loading wf-active modern-browser" lang="en-US"> <!--<![endif]-->



<!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**-->
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
  <title>Hire A Chef</title>
  <!-- W3TC-include-js-head -->
  <!--[if IE 8]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <![endif]-->
  <link rel='dns-prefetch' href='//s.w.org' />
  <link rel="alternate" type="application/rss+xml" title="Hire A Chef &raquo; Feed" href="https://www.hireachef.com/feed/" />
  <link rel="alternate" type="application/rss+xml" title="Hire A Chef &raquo; Comments Feed" href="https://www.hireachef.com/comments/feed/" />
  <link rel="alternate" type="application/rss+xml" title="Hire A Chef &raquo; Home Comments Feed" href="https://www.hireachef.com/home/feed/" />
  <script type="text/javascript">
  	window._wpemojiSettings = {
    "baseUrl"
    :"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/","ext": ".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/www.hireachef.com\/wp-includes\/js\/wp-emoji-release.min.js"
  }};
  !function(a,b,c) {
  function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag": return k.fillText(f(55356,56826,55356,56819),0,0),!(j.toDataURL().length<3e3)&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,65039,8205,55356,57096),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,55356,57096),0,0),c=j.toDataURL(),b!==c);
  case"emoji4": return k.fillText(f(55357,56425,55356,57341,8205,55357,56507),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55357,56425,55356,57341,55357,56507),0,0),e=j.toDataURL(),d!==e
  }
  return!1
  }
  function e(a) {
  var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)
  }
  var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports= {
  everything: !0,everythingExceptFlag:!0
  },h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function() {
  c.DOMReady=!0
  },c.supports.everything||(g=function() {
  c.readyCallback()
  },b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function() {
    "complete"
  ===b.readyState&&c.readyCallback()
  })),f=c.source|| {
  },f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))
  }(window,document,window._wpemojiSettings);
  		</script>
  <style type="text/css">
  img.wp-smiley,
  img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
  }
</style>
  <link rel='stylesheet' id='cptchpr_stylesheet-css'  href='https://www.hireachef.com/wp-content/plugins/captcha-pro/css/style.css' type='text/css' media='all' />
  <link rel='stylesheet' id='contact-form-7-css'  href='https://www.hireachef.com/wp-content/plugins/contact-form-7/includes/css/styles.css' type='text/css' media='all' />
  <link rel='stylesheet' id='rs-plugin-settings-css'  href='https://www.hireachef.com/wp-content/plugins/revslider/rs-plugin/css/settings.css?rev=4.5.6' type='text/css' media='all' />
  <style id='rs-plugin-settings-inline-css' type='text/css'>
    .tp-caption.caption-primary {
    font-weight: 300;
    font-size: 30px;
    line-height: 36px
    }
    .tp-caption.caption-white-background {
    padding: 10px 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: #0197ec;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    box-shadow: 0 1px 2px rgba(0,0,0,.25)
    }
    .tp-caption.caption-long-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #333;
    text-align: justify
    }
    .tp-caption.noshadow {
    }
    .tp-caption.caption-dark-bg {
    font-size: 46px;
    line-height: 46px;
    font-weight: 400;
    color: rgb(255,255,255);
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
    padding: 20px 15px;
    text-align: justify;
    border-width: 0px;
    border-color: rgb(51,51,51);
    border-style: none
    }
    .tp-caption.caption-primary-white {
    font-size: 40px;
    line-height: 42px;
    font-weight: 400;
    color: rgb(255,255,255);
    text-decoration: none;
    background-color: transparent;
    border-width: 0px;
    border-color: rgb(34,34,34);
    border-style: none
    }
    .tp-caption.caption-primary-white-2 {
    color: rgb(255,255,255);
    background-color: transparent;
    font-size: 44px;
    line-height: 45px;
    font-weight: 400;
    text-decoration: none;
    border-width: 0px;
    border-color: rgb(34,34,34);
    border-style: none
    }
    .tp-caption.caption-primary-white-3 {
    font-size: 30px;
    line-height: 34px;
    font-weight: 400;
    color: rgb(255,255,255);
    text-decoration: none;
    background-color: transparent;
    border-width: 0px;
    border-color: rgb(34,34,34);
    border-style: none
    }
    .tp-caption.caption-dark-bg2 {
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
    color: rgb(255,255,255);
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
    padding: 20px 15px;
    text-align: justify;
    border-radius: 3px 3px 3px 3px;
    border-width: 0px;
    border-color: rgb(51,51,51);
    border-style: none
    }
    .tp-caption.caption-primary-white2 {
    font-size: 21px;
    line-height: 22px;
    font-weight: 400;
    color: rgb(255,255,255);
    text-decoration: none;
    background-color: transparent;
    border-width: 0px;
    border-color: rgb(34,34,34);
    border-style: none
    }
    .tp-caption.caption-dark-bg3 {
    font-size: 27px;
    line-height: 33px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
    padding: 15px 15px 15px 15px;
    text-align: justify;
    border-radius: 3px 3px 3px 3px;
    border-width: 0px;
    border-color: rgb(51,51,51);
    border-style: none
    }
    .tp-caption.caption-primary {
    font-weight: 300;
    font-size: 30px;
    line-height: 36px
    }
    .tp-caption.caption-white-background {
    padding: 10px 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: #0197ec;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    box-shadow: 0 1px 2px rgba(0,0,0,.25)
    }
    .tp-caption.caption-long-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #333;
    text-align: justify
    }
    .tp-caption.noshadow {
    }
  </style>
  <link rel='stylesheet' id='theme-bootstrap-css'  href='https://www.hireachef.com/wp-content/themes/envision/lib/css/bootstrap.css' type='text/css' media='all' />
  <link rel='stylesheet' id='theme-frontend-style-css'  href='https://www.hireachef.com/wp-content/themes/envision/lib/css/style.css' type='text/css' media='all' />
  <link rel='stylesheet' id='theme-frontend-extensions-css'  href='https://www.hireachef.com/wp-content/themes/envision/lib/css/extensions.css' type='text/css' media='all' />
  <link rel='stylesheet' id='theme-bootstrap-responsive-1170-css'  href='https://www.hireachef.com/wp-content/themes/envision/lib/css/bootstrap-responsive-1170.css' type='text/css' media='all' />
  <link rel='stylesheet' id='theme-bootstrap-responsive-css'  href='https://www.hireachef.com/wp-content/themes/envision/lib/css/bootstrap-responsive.css' type='text/css' media='all' />
  <link rel='stylesheet' id='theme-fontawesome-css'  href='https://www.hireachef.com/wp-content/themes/envision/includes/modules/module.fontawesome/source/css/font-awesome.min.css' type='text/css' media='all' />
  <!--[if IE 7]>
  <link rel='stylesheet' id='theme-fontawesome-ie7-css'  href='https://www.hireachef.com/wp-content/themes/envision/includes/modules/module.fontawesome/source/css/font-awesome-ie7.min.css' type='text/css' media='all' />
  <![endif]-->
  <link rel='stylesheet' id='theme-icomoon-css'  href='https://www.hireachef.com/wp-content/themes/envision/includes/modules/module.icomoon/source/css/icomoon.css' type='text/css' media='all' />
  <link rel='stylesheet' id='theme-skin' href='https://www.hireachef.com/wp-content/uploads/2016/11/Default-Skin_54ce98c851b37c14ba88fe891dd1e475.css' type='text/css' media='all'/>
  <script type='text/javascript'>
  /* <![CDATA[ */
  var CloudFwOp = {
  "themeurl"
    :"https:\/\/www.hireachef.com\/wp-content\/themes\/envision","ajaxUrl": "https:\/\/www.hireachef.com\/wp-admin\/admin-ajax.php","device":"widescreen","RTL":"","SSL":"1","protocol":"https","responsive":"1","lang":"en-US","sticky_header":"1","header_overlapping":"","sticky_header_offset":"-30","uniform_elements":"1","disable_prettyphoto_on_mobile":"1","gallery_overlay_opacity":"0.9"
    };
  /* ]]> */
  </script>
  <script type='text/javascript' src='https://www.hireachef.com/wp-includes/js/jquery/jquery.js'></script>
  <script type='text/javascript' src='https://www.hireachef.com/wp-includes/js/jquery/jquery-migrate.min.js'></script>
  <script type='text/javascript' src='https://www.hireachef.com/wp-content/plugins/wp_pro_ad_system/templates/js/load_ads.js'></script>
  <script type='text/javascript' src='https://www.hireachef.com/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.plugins.min.js?rev=4.5.6'></script>
  <script type='text/javascript' src='https://www.hireachef.com/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js?rev=4.5.6'></script>
  <script type='text/javascript' src='https://www.hireachef.com/wp-content/themes/envision/lib/js/common.js'></script>
  <script type='text/javascript' src='https://www.hireachef.com/wp-content/themes/envision/lib/js/modernizr-2.6.2-respond-1.1.0.min.js'></script>
  <script type='text/javascript' src='https://www.hireachef.com/wp-content/themes/envision/lib/js/noconflict.js'></script>
  <script type='text/javascript' src='https://www.hireachef.com/wp-content/themes/envision/cloudfw/js/webfont.js'></script>
  <script type='text/javascript' src='https://www.hireachef.com/wp-content/themes/envision/lib/js/extensions.js?3'></script>
  <link rel='https://api.w.org/' href='https://www.hireachef.com/wp-json/' />
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.hireachef.com/xmlrpc.php?rsd" />
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.hireachef.com/wp-includes/wlwmanifest.xml" />
  <link rel="canonical" href="https://www.hireachef.com/" />
  <link rel='shortlink' href='https://www.hireachef.com/' />
  <link rel="alternate" type="application/json+oembed" href="https://www.hireachef.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.hireachef.com%2F" />
  <link rel="alternate" type="text/xml+oembed" href="https://www.hireachef.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.hireachef.com%2F&#038;format=xml" />
  <link rel="apple-touch-icon" sizes="76x76" href="/wp-content/uploads/fbrfg/apple-touch-icon.png?v=Om5R5WaW07">
  <link rel="icon" type="image/png" href="/wp-content/uploads/fbrfg/favicon-32x32.png?v=Om5R5WaW07" sizes="32x32">
  <link rel="icon" type="image/png" href="/wp-content/uploads/fbrfg/favicon-16x16.png?v=Om5R5WaW07" sizes="16x16">
  <link rel="manifest" href="/wp-content/uploads/fbrfg/manifest.json?v=Om5R5WaW07">
  <link rel="mask-icon" href="/wp-content/uploads/fbrfg/safari-pinned-tab.svg?v=Om5R5WaW07" color="#5bbad5">
  <link rel="shortcut icon" href="/wp-content/uploads/fbrfg/favicon.ico?v=Om5R5WaW07">
  <meta name="msapplication-config" content="/wp-content/uploads/fbrfg/browserconfig.xml?v=Om5R5WaW07">
  <meta name="theme-color" content="#ffffff"><meta name="p:domain_verify" content="d055cedab12a5e7e1227a5bdda13950c"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script>
      (function(i,s,o,g,r,a,m) {
  i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)
  },i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-36015869-1', 'auto');
      ga('send', 'pageview');
  </script>
  <script type="text/javascript">
    (function() {
    	"use strict"
  ;
    	if( document.cookie.indexOf('device_pixel_ratio') == -1
    	    && 'devicePixelRatio' in window
    	    && window.devicePixelRatio >= 1.5 ){
    		var date = new Date();
    		date.setTime( date.getTime() + 3600000 );
    		document.cookie = 'device_pixel_ratio=' + window.devicePixelRatio + ';' +  ' expires=' + date.toUTCString() +'; path=/';
    		//if cookies are not blocked, reload the page
    		if(document.cookie.indexOf('device_pixel_ratio') != -1) {
    		    window.location.reload();
  }
    	}
    })();
  </script>
  	<link rel="shortcut icon" href="https://www.hireachef.com/wp-content/uploads/2016/11/favicon.ico" />
  <style type= "text/css">@media (min-width:980px ) {
  #logo{max-width: 33%
  }
  #logo a {
  max-width: 100%
  }}
  </style>
  <!-- Load Fonts -->
  <script type="text/javascript">
    // <![CDATA[
    if ( typeof WebFont == "object" && typeof WebFont.load == "function" ) {
  WebFont.load({
    	  	google: {families: [ "Dancing+Script:regular,700:latin","Raleway:100,200,300,regular,500,600,700,800,900:latin","Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic:latin-ext,vietnamese,greek,cyrillic-ext,greek-ext,latin,cyrillic" ]
  },
  fontinactive: function(fontFamily, fontDescription) {
  //alert("Font Cannot Loaded: "+ fontFamily);
  }
    	});
    }
    //]]>
  </script>
    <meta name="google-site-verification" content="6bGaTQhRe-Hg5cTcDh6m9lXW8WYNAv7itRqDHHYJ1wU" />
    <script type="text/javascript">
        document.documentElement.className = document.documentElement.className.replace('no-js','js');
        document.documentElement.className = document.documentElement.className.replace('html-loaded','html-loading');
        (function() {
            "use strict"
  ;
            setTimeout(function(){
                document.documentElement.className = document.documentElement.className.replace('html-loading','html-loaded');
  },6000);
  })();
  jQuery(function() {
  jQuery('html').removeClass('html-loading').addClass('html-loaded');
  });
  </script>
</head>
<!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**--><!-- **HEAD**-->




<!-- **LOGO分栏（Navbar与大图之间）**--><!-- **LOGO分栏（Navbar与大图之间）**--><!-- **LOGO分栏（Navbar与大图之间）**--><!-- **LOGO分栏（Navbar与大图之间）**--><!-- **LOGO分栏（Navbar与大图之间）**-->
<!-- **LOGO分栏（Navbar与大图之间）**--><!-- **LOGO分栏（Navbar与大图之间）**--><!-- **LOGO分栏（Navbar与大图之间）**--><!-- **LOGO分栏（Navbar与大图之间）**--><!-- **LOGO分栏（Navbar与大图之间）**-->
<body class="home page-template-default page page-id-6 run" itemscope itemtype="http://schema.org/WebPage">
  <div id="side-panel-pusher">
    <div id="main-container">
      <div id="page-wrap">

        <header id="page-header" class="clearfix">
          <div id="header-container" class="header-style-1 logo-position-left navigation-position-right sticky-logo-position-left sticky-navigation-position-right no-stuck clearfix"  data-responsive="{&quot;css&quot;:{&quot;padding-bottom&quot;:{&quot;phone&quot;:20,&quot;tablet&quot;:30,&quot;widescreen&quot;:0}}}">
            <div id="header-container-background"></div>
              <div id="top-bar" class="clearfix">
                <div id="top-bar-background">
                  <div class="container relative">
                    <div id="top-bar-widgets" class="top-bar-sides abs-right">
                      <ul id="navigation-menu" class="widget--language-selector ui--widget ui--custom-menu opt--on-hover opt--menu-direction-right unstyled-all ">
                        <li id="menu-item-126" class="menu-item menu-item-type-post_type menu-item-object-page depth-0 ui--gradient ui--gradient-grey on--hover">
                          <a href="https://www.hireachef.com/search/">Search For Chef</a>
                        </li>
                      </ul>
                        <ul id="topbar-social-icons" class="ui-socialbar unstyled ui--widget opt--on-hover style--top-bar  ss white-gradient effect--fade borderless">
                          <li class="facebook ui--gradient ui--gradient-grey ui-socialbar-item ui--animation">
                            <div class="ui-socialbar-image ui-socialbar-background "></div>
                            <a href="https://www.facebook.com/uspcahireachef" class="ui-socialbar-image" target="_blank" title="Facebook"></a>
                          </li>
                          <li class="twitter ui--gradient ui--gradient-grey ui-socialbar-item ui--animation">
                            <div class="ui-socialbar-image ui-socialbar-background "></div>
                            <a href="https://twitter.com/HireAChefUSPCA" class="ui-socialbar-image" target="_blank" title="Twitter"></a>
                          </li>
                          <li class="googleplus ui--gradient ui--gradient-grey ui-socialbar-item ui--animation">
                            <div class="ui-socialbar-image ui-socialbar-background "></div>
                            <a href="https://plus.google.com/116176483998597125030/" class="ui-socialbar-image" target="_blank" title="Google Plus"></a>
                          </li>
                        </ul>
                    </div>
                  </div>
                </div>
              </div><!-- /#top-bar -->
              <div class="container relative">
                <div id="logo">
                  <a href="https://www.hireachef.com">
                    <img  id="logo-desktop" class="visible-desktop hide-on-stuck " src="https://www.hireachef.com/wp-content/uploads/2014/07/logo.png" data-at2x="https://www.hireachef.com/wp-content/uploads/2014/07/logo.png" alt="Hire A Chef" style="margin-top: 4px;  margin-bottom: 14px;"/>
                    <img  id="logo-tablet" class="visible-tablet hide-on-stuck " src="https://www.hireachef.com/wp-content/uploads/2014/07/logo.png" data-at2x="https://www.hireachef.com/wp-content/uploads/2014/07/logo.png" alt="Hire A Chef" style="margin-top: 40px;  margin-bottom: 30px;"/>
                    <img  id="logo-phone" class="visible-phone hide-on-stuck " src="https://www.hireachef.com/wp-content/uploads/2014/07/logo.png" data-at2x="https://www.hireachef.com/wp-content/uploads/2014/07/logo.png" alt="Hire A Chef" style="margin-top: 20px;  margin-bottom: 20px;"/>
                    <img  id="logo-sticky" class="show-on-stuck" src="https://www.hireachef.com/wp-content/uploads/2014/07/logo-small.png" data-at2x="https://www.hireachef.com/wp-content/uploads/2014/07/logo-small.png" alt="Hire A Chef" style="margin-top: 4px;  margin-bottom: 14px;"/>
                   </a>
                </div><!-- /#logo -->
                <nav id="navigation" class="without-navigation-holder">
              		<div id="header-navigation-toggle" class="visible-phone ">
              			<a href="javascript:;">Navigation <i class="fontawesome-align-justify ui--caret"></i></a>
              		</div>
                	<ul id="header-navigation" class="sf-menu clearfix unstyled-all">
                    <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item level-0 top-level-item to-right">
                      <a href="https://www.hireachef.com/">Home</a>
                    </li>
                    <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page level-0 top-level-item to-right">
                      <a href="https://www.hireachef.com/about-us/">About Us</a>
                    </li>
                    <li id="menu-item-34" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children level-0 top-level-item has-child fallout link-disabled to-right">
                      <a>Chefs<i class="ui--caret fontawesome-angle-down px18"></i></a>
                      <ul class="sub-menu">
                      	<li id="menu-item-187" class="menu-item menu-item-type-post_type menu-item-object-page level-1 sub-level-item to-right">
                          <a href="https://www.hireachef.com/search/">Search For A Chef</a>
                        </li>
                      	<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page level-1 sub-level-item to-right">
                          <a href="https://www.hireachef.com/chef-login/">Chef Login</a>
                        </li>
                      	<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page level-1 sub-level-item to-right">
                          <a href="https://www.hireachef.com/get-a-listing/">Get A Listing</a>
                        </li>
                      </ul>
                    </li>
                    <li id="menu-item-38" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children level-0 top-level-item has-child fallout link-disabled to-right">
                      <a>Help<i class="ui--caret fontawesome-angle-down px18"></i></a>
                      <ul class="sub-menu">
                      	<li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page level-1 sub-level-item to-right">
                          <a href="https://www.hireachef.com/why-a-personal-chef/">What Is A Personal Chef Service?</a>
                        </li>
                      	<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page level-1 sub-level-item to-right">
                          <a href="https://www.hireachef.com/frequently-asked-questions/">FAQ&#8217;s</a>
                        </li>
                      </ul>
                    </li>
                    <li id="menu-item-475" class="menu-item menu-item-type-custom menu-item-object-custom level-0 top-level-item to-right">
                      <a href="http://info.hireachef.com/blog">Blog</a>
                    </li>
                    <li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page level-0 top-level-item to-right">
                      <a href="https://www.hireachef.com/contact-us/">Contact Us</a>
                    </li>
                  </ul>
                </nav><!-- /nav#navigation -->
              </div>
            </div>
          </header>
<!-- /#header-container -->
<!-- **LOGO分栏（Navbar与大图之间）**--><!-- **LOGO分栏（Navbar与大图之间）**--><!-- **LOGO分栏（Navbar与大图之间）**--><!-- **LOGO分栏（Navbar与大图之间）**--><!-- **LOGO分栏（Navbar与大图之间）**-->






<!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**-->
<!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**-->
<div class="ui--rev-slider">
  <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#333333;padding:0px;margin-top:0px;margin-bottom:0px;max-height:660px;">
  	<div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:660px;height:660px;">
      <ul>	<!-- SLIDE  -->
      	<li data-transition="fade,fadefromright,fadefromleft,fadefromtop,fadefrombottom" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
		<!-- MAIN IMAGE -->
    		<img src="https://www.hireachef.com/wp-content/uploads/2016/02/3724812_l-1.jpg"  alt="3724812_l-1"  data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat">
		<!-- LAYERS -->
		<!-- LAYER NR. 1 -->
    		<div class="tp-caption caption-dark-bg tp-fade tp-resizeme"
    			data-x="132"
    			data-y="308"
    			data-speed="300"
    			data-start="500"
    			data-easing="Power3.easeInOut"
    			data-splitin="none"
    			data-splitout="none"
    			data-elementdelay="0.1"
    			data-endelementdelay="0.1"
    			data-endspeed="300"
    			style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">Let a Personal Chef prepare your next meal
    		</div>

		<!-- LAYER NR. 2 -->
    		<div class="tp-caption noshadow tp-fade tp-resizeme"
    			data-x="center" data-hoffset="4"
    			data-y="center" data-voffset="-105"
    			data-speed="300"
    			data-start="500"
    			data-easing="Power3.easeInOut"
    			data-splitin="none"
    			data-splitout="none"
    			data-elementdelay="0.1"
    			data-endelementdelay="0.1"
    			data-endspeed="300"
    			style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
          <div class="text-center ui--animation ui--button-wrapper" style="">
            <div class="ui--inline-block">
              <a class="btn btn-large btn-icon-left with-icon button-hover btn-green radius-3px" id="big-search-btn" href="https://hireachef.com/search/">
                <span class="button-icon">
                  <i class="ui--icon ui--icon btn-icon icon-normal fontawesome-search" style="color: #ffffff !important;"></i>
                </span>
                Search For A Chef
              </a>
        			<div class="ui--shadow ui--shadow-type-4 ui--shadow-abs clearfix">
        				<img src="https://www.hireachef.com/wp-content/themes/envision/includes/modules/module.shadow/shadows/shadow-4.png" alt="" />
        			</div>
        		</div>
          </div>
    		</div>
    	</li>
	<!-- SLIDE  -->
    	<li data-transition="fade,slotfade-horizontal,slotfade-vertical" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
		<!-- MAIN IMAGE -->
    		<img src="https://www.hireachef.com/wp-content/uploads/2014/07/hireachef-slider2.jpg"  alt="hireachef-slider2"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
    		<div class="tp-caption caption-primary-white tp-fade tp-resizeme"
    			data-x="0"
    			data-y="90"
    			data-speed="300"
    			data-start="1000"
    			data-easing="Power3.easeInOut"
    			data-splitin="none"
    			data-splitout="none"
    			data-elementdelay="0.1"
    			data-endelementdelay="0.1"
    			data-endspeed="300"
    			style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">Guide to Hiring a Personal Chef
    		</div>

		<!-- LAYER NR. 2 -->
    		<div class="tp-caption caption-primary-white tp-fade tp-resizeme"
    			data-x="274"
    			data-y="155"
    			data-speed="300"
    			data-start="1500"
    			data-easing="Power3.easeInOut"
    			data-splitin="none"
    			data-splitout="none"
    			data-elementdelay="0.1"
    			data-endelementdelay="0.1"
    			data-endspeed="300"
    			style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"><div class="ui--image-wrap clearfix"><a class="ui--image-wrap clearfix" href="https://hireachef.com/guide/"><img  id="ui--image-1" class="ui--image ui--animation" src="https://hireachef.com/wp-content/uploads/2014/07/click-here-btn-1.png" alt="" title="Personal Chef Services" data-at2x=""/></a></div>

    		</div>
    	</li>
	<!-- SLIDE  -->
    	<li data-transition="fade,boxfade,slotfade-horizontal,slotfade-vertical" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
		<!-- MAIN IMAGE -->
    		<img src="https://www.hireachef.com/wp-content/uploads/2014/10/hireachef-slider321.jpg"  alt="hireachef-slider321"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
    		<div class="tp-caption caption-dark-bg3 tp-fade tp-resizeme"
    			data-x="5"
    			data-y="164"
    			data-speed="300"
    			data-start="500"
    			data-easing="Power3.easeInOut"
    			data-splitin="none"
    			data-splitout="none"
    			data-elementdelay="0.1"
    			data-endelementdelay="0.1"
    			data-endspeed="300"
    			style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">Learn more about what a <br>
          Personal Chef can do for you.
    		</div>

		<!-- LAYER NR. 2 -->
    		<div class="tp-caption caption-primary-white2 tp-fade tp-resizeme"
    			data-x="72"
    			data-y="334"
    			data-speed="300"
    			data-start="500"
    			data-easing="Power3.easeInOut"
    			data-splitin="none"
    			data-splitout="none"
    			data-elementdelay="0.1"
    			data-endelementdelay="0.1"
    			data-endspeed="300"
    			style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">Click on the video to the right  <i class="ui--icon fontawesome-circle-arrow-right icon-inline-block" style="font-size: 18px;  width: 22px;  height: 22px;  color: #ffffff !important;  margin-right: 5px;"></i>
    		</div>

		<!-- LAYER NR. 3 -->
    		<div class="tp-caption tp-fade"
    			data-x="right" data-hoffset="-10"
    			data-y="center" data-voffset="0"
    			data-speed="300"
    			data-start="500"
    			data-easing="Power3.easeInOut"
    			data-elementdelay="0.1"
    			data-endelementdelay="0.1"
    			data-endspeed="300"
    			style="z-index: 4;"><img src="https://hireachef.com/wp-content/uploads/2014/09/tablet.png" alt="">
    		</div>

		<!-- LAYER NR. 4 -->
    		<div class="tp-caption tp-fade"
    			data-x="555"
    			data-y="135"
    			data-speed="300"
    			data-start="500"
    			data-easing="Power3.easeInOut"
    			data-elementdelay="0.1"
    			data-endelementdelay="0.1"
    			data-endspeed="300"
    			data-autoplay="false"
    			data-autoplayonlyfirsttime="false"
    			data-nextslideatend="true"
    			data-thumbimage="http://hireachef.com/wp-content/uploads/2014/09/video-prev2.jpg"
    			style="z-index: 5;"><iframe src='https://www.youtube.com/embed/O36iIOswK84?enablejsapi=1&amp;html5=1&amp;hd=1&wmode=opaque&controls=1&showinfo=0;;origin=https://www.hireachef.com;controls=0;' allowfullscreen='true' width='549' height='388' style='width:549px;height:388px;'></iframe>
    		</div>
    	</li>
    </ul>
    <div class="tp-bannertimer"></div>
  </div>
</div>
<script type="text/javascript">
/******************************************
	-	PREPARE PLACEHOLDER FOR SLIDER	-
******************************************/
				var setREVStartSize = function() {
            var	tpopt = new Object();
						tpopt.startwidth = 1170;
						tpopt.startheight = 660;
						tpopt.container = jQuery('#rev_slider_1_1');
						tpopt.fullScreen = "off";
						tpopt.forceFullWidth="on";
					tpopt.container.closest(".rev_slider_wrapper").css({height: tpopt.container.height()
        });
        tpopt.width=parseInt(tpopt.container.width(),0);tpopt.height=parseInt(tpopt.container.height(),0);tpopt.bw=tpopt.width/tpopt.startwidth;tpopt.bh=tpopt.height/tpopt.startheight;if(tpopt.bh>tpopt.bw)tpopt.bh=tpopt.bw;if(tpopt.bh<tpopt.bw)tpopt.bw=tpopt.bh;if(tpopt.bw<tpopt.bh)tpopt.bh=tpopt.bw;if(tpopt.bh>1) {
        tpopt.bw=1;tpopt.bh=1
        }
        if(tpopt.bw>1) {
        tpopt.bw=1;tpopt.bh=1
        }
        tpopt.height=Math.round(tpopt.startheight*(tpopt.width/tpopt.startwidth));if(tpopt.height>tpopt.startheight&&tpopt.autoHeight!="on")tpopt.height=tpopt.startheight;if(tpopt.fullScreen=="on") {
        tpopt.height=tpopt.bw*tpopt.startheight;var cow=tpopt.container.parent().width();var coh=jQuery(window).height();if(tpopt.fullScreenOffsetContainer!=undefined){try{var offcontainers=tpopt.fullScreenOffsetContainer.split(",");jQuery.each(offcontainers,function(e,t){coh=coh-jQuery(t).outerHeight(true);if(coh<tpopt.minFullScreenHeight)coh=tpopt.minFullScreenHeight
        })}
        catch(e) {
        }}
        tpopt.container.parent().height(coh);tpopt.container.height(coh);tpopt.container.closest(".rev_slider_wrapper").height(coh);tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(coh);tpopt.container.css( {
        height: "100%"
        });
        tpopt.height=coh;
        }
        else {
        tpopt.container.height(tpopt.height);tpopt.container.closest(".rev_slider_wrapper").height(tpopt.height);tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(tpopt.height);
        }
				};
				/* CALL PLACEHOLDER */
        setREVStartSize();
				var tpj=jQuery;
				tpj.noConflict();
				var revapi1;
				tpj(document).ready(function() {
        if(tpj('#rev_slider_1_1').revolution == undefined)
					revslider_showDoubleJqueryError('#rev_slider_1_1');
				else
				   revapi1 = tpj('#rev_slider_1_1').show().revolution(
					{
						dottedOverlay: "none",
						delay:8000,
						startwidth:1170,
						startheight:660,
						hideThumbs:200,
						thumbWidth:100,
						thumbHeight:50,
						thumbAmount:3,
						navigationType:"bullet",
						navigationArrows:"solo",
						navigationStyle:"round",
						touchenabled:"on",
						onHoverStop:"off",
						swipe_velocity: 0.7,
						swipe_min_touches: 1,
						swipe_max_touches: 1,
						drag_block_vertical: false,
						keyboardNavigation:"on",
						navigationHAlign:"center",
						navigationVAlign:"bottom",
						navigationHOffset:0,
						navigationVOffset:20,
						soloArrowLeftHalign:"left",
						soloArrowLeftValign:"center",
						soloArrowLeftHOffset:20,
						soloArrowLeftVOffset:0,
						soloArrowRightHalign:"right",
						soloArrowRightValign:"center",
						soloArrowRightHOffset:20,
						soloArrowRightVOffset:0,
						shadow:0,
						fullWidth:"on",
						fullScreen:"off",
						spinner:"spinner4",
						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,
						shuffle:"off",
						autoHeight:"off",
						forceFullWidth:"on",
						hideThumbsOnMobile:"off",
						hideNavDelayOnMobile:1500,
						hideBulletsOnMobile:"off",
						hideArrowsOnMobile:"off",
						hideThumbsUnderResolution:0,
												hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						startWithSlide:0
        });
				});	/*ready*/
		</script>
		<style type="text/css">
    	#rev_slider_1_1_wrapper .tp-loader.spinner4 div {
    background-color: #FFFFFF !important;
    }
  </style>
</div>
<!-- END REVOLUTION SLIDER -->
<!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**-->







<!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证-->
<!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证-->
<div id="page-content" class="no-sidebar-layout">
  <div class="container">
    <div id="the-content" >
      <div  class="fullwidth-container ui--section clearfix cloudfw-ui-parallax-effect section-999-1" style="margin-top: -30px;  margin-bottom: 50px;">
        <div  class="ui--section-content">
          <div class="container" style="margin-left:-1%;">
            <div id="home-three-sections">
              <h2 class="ui--animation " style="text-align: center; color: #424242 !important; ">
                <strong>Find a Personal Chef
                </strong> and other culinary professionals in your area
              </h2>

        <div class="ui-row row" style="width:1300px;">
         <div   class="ui-column span4">
           <div class="ui--box-widget">
             <div  class="ui--content-box ui--box ui--content-item ui--animation ui-row">
               <div class="ui--content-box-header">
                 <div class="ui--content-box-media effect--fade type--image-hover clearfix" style="padding-bottom: 42.86%;">
                   <div class="ui--content-box-image-default">
                     <img  class="ui--content-box-image" src="https://www.hireachef.com/wp-content/uploads/2014/07/Rob-Wezwick-22-570x245.jpg" alt="" title=""/>
                   </div>
                   <div class="ui--content-box-overlay">
                     <div class="ui--content-box-overlay-image">
                       <img  class="ui--content-box-image"
                          src="https://www.hireachef.com/wp-content/uploads/2014/07/Rob-Wezwick-22-570x245.jpg" alt="" title=""/>
                        </div>
                      </div>
                    </div>
                    <div class="ui--content-box-title ui--gradient ui--gradient-grey on--hover clearfix text-left">
                      <h5 class="ui--content-box-title-text">
                        <img class="ui--icon"
                          src="https://hireachef.com/wp-content/uploads/2014/07/search-icon.png" alt="" data-at2x="" data-retina-auto="1" style="margin-right: 5px;"/> Find a Personal Chef in Your Area
                        </h5>
                    </div>
                    </div>
                    <div class="ui--content-box-content">
                      <div class="ui--content-box-content-text">
                        <ul class="ui--list list-font-icon parent-1">
                      <li class="child-1 total-1 ui--animation">
                        <i class="list-icon 14px fontawesome-ok"></i>
                        <a href="https://hireachef.com/search/">Search by City, ZIP Code or Postal Code to find a chef near you!</a>
                      </li>
                      </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

             <div   class="ui-column span4">
               <div class="ui--box-widget">
                 <div  class="ui--content-box ui--box ui--content-item ui--animation ui-row">
                   <div class="ui--content-box-header">
                     <div class="ui--content-box-media effect--fade type--default clearfix" style="padding-bottom: 42.86%;">
                       <div class="ui--content-box-image-default">
                         <img  class="ui--content-box-image" src="https://www.hireachef.com/wp-content/uploads/2014/07/Maria-Sakellariou2-570x245.jpg" alt="" title=""/>
                       </div>
                     </div>
                     <div class="ui--content-box-title ui--gradient ui--gradient-grey on--hover clearfix text-left">
                       <h5 class="ui--content-box-title-text">
                         <img class="ui--icon" src="https://hireachef.com/wp-content/uploads/2014/07/question-icon.png" alt="" data-at2x="" data-retina-auto="1" style="margin-right: 5px;"/> About Personal Chef Services
                       </h5>
                     </div>
                   </div>
                   <div class="ui--content-box-content">
                     <div class="ui--content-box-content-text">
                       <ul class="ui--list list-font-icon parent-2">
                        <li class="child-1 total-2 ui--animation">
                          <i class="list-icon 14px fontawesome-ok"></i>
                          <a href="https://hireachef.com/why-a-personal-chef/">What is a Personal Chef Service?</a>
                        </li>
                        <li class="child-2 total-2 ui--animation">
                          <i class="list-icon 14px fontawesome-ok"></i>
                          <a href="https://hireachef.com/guide/">Guide to Hiring a Personal Chef</a>
                        </li>
                        </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

               <div   class="ui-column span4">
                 <div class="ui--box-widget">
                   <div  class="ui--content-box ui--box ui--content-item ui--animation ui-row">
                     <div class="ui--content-box-header">
                       <div class="ui--content-box-media effect--fade type--default clearfix" style="padding-bottom: 42.86%;">
                         <div class="ui--content-box-image-default">
                           <img  class="ui--content-box-image" src="https://www.hireachef.com/wp-content/uploads/2014/07/Mark-Tafoya-22-570x245.jpg" alt="" title=""/>
                         </div>
                       </div>
                       <div class="ui--content-box-title ui--gradient ui--gradient-grey on--hover clearfix text-left">
                         <h5 class="ui--content-box-title-text">
                           <img class="ui--icon" src="https://hireachef.com/wp-content/uploads/2014/07/chef-hat-icon.png" alt="" data-at2x="" data-retina-auto="1" style="margin-right: 5px;"/> Explore a Career
                         </h5>
                       </div>
                     </div>
                     <div class="ui--content-box-content">
                       <div class="ui--content-box-content-text">
                         <ul class="ui--list list-font-icon parent-3">
                          <li class="child-1 total-1 ui--animation">
                            <i class="list-icon 14px fontawesome-ok"></i>
                            <a href="https://www.uspca.com/" target="_blank">Join the United States Personal Chef Association (USPCA)</a>
                          </li>
                          </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.fullwidth-container -->
<!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证-->






<!-- **关于我们、手机、杂志**--><!-- **关于我们、手机、杂志**--><!-- **关于我们、手机、杂志**--><!-- **关于我们、手机、杂志**--><!-- **关于我们、手机、杂志**--><!-- **关于我们、手机、杂志**-->
<!-- **关于我们、手机、杂志**--><!-- **关于我们、手机、杂志**--><!-- **关于我们、手机、杂志**--><!-- **关于我们、手机、杂志**--><!-- **关于我们、手机、杂志**--><!-- **关于我们、手机、杂志**-->
<div class="ui-row row">
  <div   class="ui-column span4">
    <div class="ui--title ui--animation ui--title-bordered text-left box-title-view-more">
      <div class="ui--title-holder">
        <h3 class="ui--title-text">
          About Us
        </h3>
        <div class="ui--title-borders ui--title-border-left"></div>
        <div class="ui--title-borders ui--title-border-right"></div>
      </div>
    </div>
    <div  class="ui--tagline-box-wrapper ui--animation clearfix">
      <div  id="tagline-1" class="ui--tagline-box ui-row clearfix ui--tagline-box-custom-color radius-3px" data-responsive="{&quot;css&quot;:{&quot;min-height&quot;:{&quot;phone&quot;:&quot;auto&quot;,&quot;tablet&quot;:&quot;auto&quot;,&quot;widescreen&quot;:266}}}">
        <div  class="ui--tagline-background-container ui--tagline-background-overlay radius-3px"></div>
        <div  class="ui--tagline-background-container ui--tagline-background-image radius-3px"></div>
        <div  class="ui--tagline-content">
          <div class="ui--image-wrap clearfix" style="margin-bottom: 15px;">
            <img  id="ui--image-2" class="ui--image ui--animation" src="https://www.hireachef.com/wp-content/uploads/2014/07/logo-rounded-1.png" alt="" title="" data-at2x=""/>
          </div>
          <div class="auto-format ui--animation">
            <p>HireAChef.com provides the largest and only open searchable venue for connecting people looking for a healthy cost effective eating alternative with quality personal chef services in their area.<br />
              <div class="text-center ui--animation">
                <a class="btn btn-normal btn-block btn-icon-left btn-secondary radius-3px" href="https://hireachef.com/about-us/" style="">Learn More
                </a>
              </div>
            </p>
          </div>
        </div>
      </div>
			<div class="ui--shadow ui--shadow-type-3  clearfix">
				<img src="https://www.hireachef.com/wp-content/themes/envision/includes/modules/module.shadow/shadows/shadow-3.png" alt="" />
			</div>
    </div>
  </div>

   <div  class="ui-column span4">
     <div class="home-contact-us-box">
       <div class="ui--title ui--animation ui--title-bordered text-left box-title-view-more">
         <div class="ui--title-holder">
           <h3 class="ui--title-text">
             Search For A Chef
           </h3>
           <div class="ui--title-borders ui--title-border-left"></div>
           <div class="ui--title-borders ui--title-border-right"></div>
         </div>
       </div>
       <div  class="ui--tagline-box-wrapper ui--animation clearfix">
         <div  id="tagline-2" class="ui--tagline-box ui-row clearfix ui--tagline-box-custom-color radius-3px" data-responsive="{&quot;css&quot;:{&quot;min-height&quot;:{&quot;phone&quot;:&quot;auto&quot;,&quot;tablet&quot;:&quot;auto&quot;,&quot;widescreen&quot;:266}}}">
         <div  class="ui--tagline-background-container ui--tagline-background-overlay radius-3px"></div>
         <div  class="ui--tagline-background-container ui--tagline-background-image radius-3px"></div>
         <div  class="ui--tagline-content">
         <div class="ui-row row">
         <div  class="ui-column span4">
           <div class="ui--image-wrap clearfix visible-desktop " style="margin-bottom: 0px;  margin-right: 10px;">
             <img  id="ui--image-3" class="ui--image ui--animation" src="https://www.hireachef.com/wp-content/uploads/2014/07/mobile-website.png" alt="" title="" data-at2x=""/>
           </div>
         </div>
      <div  class="ui-column span8">
        <div class="auto-format ui--animation">
          <p>Every Chef in the Hire A Chef database is at your fingertips.</p>
          <ul>
            <li>Fast and Accurate</li>
            <li>Easy to Use</li>
            <li>Chefs are Sorted by State</li>
            <li>Filter by City, Zip Code or Specialty</li>
          </ul>
        </div>
    </div>
  </div>

    <div class="auto-format ui--animation">
      <p>
        <div class="text-center ui--animation">
          <a class="btn btn-normal btn-block btn-icon-left btn-secondary radius-3px" href="https://hireachef.com/search/" style="">Search For A Chef Now
          </a>
        </div>
      </p>
    </div>
  </div>
</div>
		<div class="ui--shadow ui--shadow-type-3  clearfix">
			<img src="https://www.hireachef.com/wp-content/themes/envision/includes/modules/module.shadow/shadows/shadow-3.png" alt="" />
		</div>
		</div>
  </div>
</div>

  <div   class="ui-column span4">
     <div class="home-contact-us-box">
       <div class="ui--title ui--animation ui--title-bordered text-left box-title-view-more">
         <div class="ui--title-holder">
           <h3 class="ui--title-text">
             Our Magazine
           </h3>
           <div class="ui--title-borders ui--title-border-left"></div>
           <div class="ui--title-borders ui--title-border-right"></div>
         </div>
       </div>
       <div  class="ui--tagline-box-wrapper ui--animation clearfix">
         <div  id="tagline-3" class="ui--tagline-box ui-row clearfix ui--tagline-box-custom-color radius-3px" data-responsive="{&quot;css&quot;:{&quot;min-height&quot;:{&quot;phone&quot;:&quot;auto&quot;,&quot;tablet&quot;:&quot;auto&quot;,&quot;widescreen&quot;:266}}}">
           <div  class="ui--tagline-background-container ui--tagline-background-overlay radius-3px"></div>
           <div  class="ui--tagline-background-container ui--tagline-background-image radius-3px"></div>
           <div  class="ui--tagline-content"><div>
      <script>
            jQuery(document).ready(function() {
          jQuery('iframe').contents().find('button.read').css('visibility','hidden');
          });
      </script>
      <div style="overflow: hidden;">
          <div style="float: left; margin-right: 15px;">
            <a data-flip-widget="mag" href="https://flipboard.com/section/your-personal-chef-business-brSKOI">View my Flipboard Magazine.</a>
            <script src="https://cdn.flipboard.com/web/buttons/js/flbuttons.min.js" type="text/javascript">
            </script>
          </div>
          <h6 style="margin-bottom: 0px;">
            Your Personal Chef Business Magazine
          </h6>
          <p><em>By Larry Lynch <br>
            <span style="font-size: 12px;">(President - U. S. Personal Chef Association)</span>
          </em></p>
          <p>    8,715 readers<br>    195,991 page flips<br>    2,078 articles</p>
    </div>
  </div>
    <div  class="ui--space clearfix" style="height: 1px;" data-responsive="{&quot;css&quot;:{&quot;height&quot;:{&quot;phone&quot;:&quot;1px&quot;,&quot;tablet&quot;:&quot;1px&quot;,&quot;widescreen&quot;:&quot;1px&quot;}}}">
    </div>
    <div>
      <div style="padding-top: 9px;">
        <div class="text-center ui--animation">
          <a class="btn btn-normal btn-block btn-icon-left btn-secondary radius-3px" href="https://flipboard.com/section/your-personal-chef-business-brSKOI#" target="_blank" style="">Read Magazine
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
      			<div class="ui--shadow ui--shadow-type-3  clearfix">
      				<img src="https://www.hireachef.com/wp-content/themes/envision/includes/modules/module.shadow/shadows/shadow-3.png" alt="" />
      			</div>
        </div>
    </div>
  </div>
</div>
<!-- **关于我们、手机、杂志**--><!-- **关于我们、手机、杂志**--><!-- **关于我们、手机、杂志**--><!-- **关于我们、手机、杂志**--><!-- **关于我们、手机、杂志**--><!-- **关于我们、手机、杂志**-->








<!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**-->
<!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**-->
<div  class="ui--space clearfix" style="height: 10px;" data-responsive="{&quot;css&quot;:{&quot;height&quot;:{&quot;phone&quot;:null,&quot;tablet&quot;:null,&quot;widescreen&quot;:&quot;10px&quot;}}}">
</div>
  <div class="text-center">
    <div  class="ui--tagline-box-wrapper ui--animation clearfix">
      <div  id="tagline-4" class="ui--tagline-box ui-row clearfix ui--tagline-box-custom-color radius-3px" data-responsive="{&quot;css&quot;:{&quot;min-height&quot;:{&quot;phone&quot;:&quot;auto&quot;,&quot;tablet&quot;:&quot;auto&quot;,&quot;widescreen&quot;:&quot;&quot;}}}">
        <div  class="ui--tagline-background-container ui--tagline-background-overlay radius-3px"></div>
        <div  class="ui--tagline-background-container ui--tagline-background-image radius-3px"></div>
        <div  class="ui--tagline-content" style="padding-top: 0px;  padding-bottom: 18px;">
          <div>
            <div class="pro_ad_system_ad_container ad_container_1" id="ad_container_1" style="width:728px; height:90px; background:#F4F4F4; overflow:hidden;" am_ads="2" rotation="0" rotation_time="0" theid="1">
              <div id="1" class="pro_ad_adzone_1_ad_0 adzone_ad_1 pro_ad_zone" style="display:none;">
                <a href="https://www.hireachef.com?ad_click=7" target="_self">
                  <img src="https://www.hireachef.com/wp-content/uploads/2016/11/Advertise-with-Us-728x90.jpg" alt="Advertise With Us - 728x90 a" />
                </a>
              </div>
              <div id="1" class="pro_ad_adzone_1_ad_1 adzone_ad_1 pro_ad_zone" style="display:none;">
                <a href="https://www.hireachef.com?ad_click=6" target="_self">
                  <img src="https://www.hireachef.com/wp-content/uploads/2016/11/Advertise-with-Us-728x90-Table.jpg" alt="Advertise With Us - 728x90 - Table" />
                </a>
              </div>
              <div id="1" class="pro_ad_adzone_1_ad_2 adzone_ad_1 pro_ad_zone" style="display:none;">
                <a href="https://www.hireachef.com?ad_click=5" target="_self">
                  <img src="https://www.hireachef.com/wp-content/uploads/2016/11/Advertise-with-Us-728x90-fork-and-knife-.jpg" alt="Advertise With Us - 728x90 - fork and knife" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div  class="ui--space clearfix" style="height: 50px;" data-responsive="{&quot;css&quot;:{&quot;height&quot;:{&quot;phone&quot;:null,&quot;tablet&quot;:null,&quot;widescreen&quot;:&quot;50px&quot;}}}">
</div>
<!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**-->






<!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**-->
<!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**-->
<div class="ui-row row">
   <div   class="ui-column span6">
     <div class="ui--title ui--animation ui--title-bordered text-left box-title-view-more">
       <div class="ui--title-holder">
         <h3 class="ui--title-text">
           News
           <a class="btn btn-small btn-icon-left btn-secondary ui--animation" href="https://hireachef.com/category/news/" style="">View All</a>
         </h3>
         <div class="ui--title-borders ui--title-border-left"></div>
         <div class="ui--title-borders ui--title-border-right"></div>
       </div>
     </div>
     <div  class="ui--tagline-box-wrapper ui--animation clearfix">
       <div  id="tagline-5" class="ui--tagline-box ui-row clearfix ui--tagline-box-custom-color radius-3px" data-responsive="{&quot;css&quot;:{&quot;min-height&quot;:{&quot;phone&quot;:&quot;auto&quot;,&quot;tablet&quot;:&quot;auto&quot;,&quot;widescreen&quot;:&quot;&quot;}}}">
         <div  class="ui--tagline-background-container ui--tagline-background-overlay radius-3px"></div>
         <div  class="ui--tagline-background-container ui--tagline-background-image radius-3px"></div>
         <div  class="ui--tagline-content">
           <div id="blog-1" class="ui--blog ui--blog-wrapper ui--pass" data-layout="mini" data-columns="1">
             <div class="ui--blog-item ui--animation ui--accent-gradient-hover-parent clearfix layout--mini">
               <div class="ui--blog-side ui--blog-date ui--accent-gradient-hover-parent ui--box">
                 <h3>
                   <span class="ui--blog-date-day ui--accent-gradient-hover">23</span>
                 </h3>
                 <h6 class="ui--blog-date-month ui--gradient ui--gradient-grey">
                   <span>Aug</span>
                 </h6>
               </div>
               <div class="ui--blog-content-wrapper">
                 <div class="ui--blog-header">
                   <h5 class="ui--blog-title">
                     <a class="ui--blog-link" href="https://www.hireachef.com/want-to-be-the-next-gordon-ramsey/">Want to be the Next Gordon Ramsey?</a>
                   </h5>
                 </div>
                 <div class="ui--blog-content">
                   I opened an email from my association (the association of associations - go figure) and discovered this article ...
                 </div>
                 <div class="ui--blog-readmore more-link">
                   <a class="btn btn-small btn-secondary muted" href="https://www.hireachef.com/want-to-be-the-next-gordon-ramsey/">Read More</a>
                 </div>
               </div>
             </div>
             <div class="ui--blog-item ui--animation ui--accent-gradient-hover-parent clearfix layout--mini last-item">
               <div class="ui--blog-side ui--blog-date ui--accent-gradient-hover-parent ui--box">
                 <h3>
                   <span class="ui--blog-date-day ui--accent-gradient-hover">18</span>
                 </h3>
                 <h6 class="ui--blog-date-month ui--gradient ui--gradient-grey">
                   <span>Sep</span>
                 </h6>
               </div>
               <div class="ui--blog-content-wrapper">
                 <div class="ui--blog-header">
                   <h5 class="ui--blog-title">
                     <a class="ui--blog-link" href="https://www.hireachef.com/chayotes-coconuts-and-peppercorns/">Chayotes, Coconuts, and Peppercorns</a>
                   </h5>
                 </div>
                 <div class="ui--blog-content">Chayotes
                  This is a member of the squash family that is eaten as a vegetable. Chayote (pronounced chi-YO-tay), originated in southern ...
                </div>
                <div class="ui--blog-readmore more-link">
                  <a class="btn btn-small btn-secondary muted" href="https://www.hireachef.com/chayotes-coconuts-and-peppercorns/">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
			<div class="ui--shadow ui--shadow-type-3  clearfix">
				<img src="https://www.hireachef.com/wp-content/themes/envision/includes/modules/module.shadow/shadows/shadow-3.png" alt="" />
			</div>
		</div>
  </div>
<!-- **APP报道**--><!-- **APP报道**--><!-- **APP报道**--><!-- **APP报道**--><!-- **APP报道**--><!-- **APP报道**--><!-- **APP报道**--><!-- **APP报道**--><!-- **APP报道**-->
 <div   class="ui-column span6">
   <div class="ui--title ui--animation ui--title-bordered text-left box-title-view-more">
     <div class="ui--title-holder">
       <h3 class="ui--title-text">
         Twitter Feed
         <a class="btn btn-small btn-icon-left btn-secondary ui--animation" href="https://twitter.com/HireAChefUSPCA" target="_blank" style="">View All</a>
       </h3>
       <div class="ui--title-borders ui--title-border-left"></div>
       <div class="ui--title-borders ui--title-border-right"></div>
     </div>
   </div>
   <div  class="ui--tagline-box-wrapper ui--animation clearfix">
     <div  id="tagline-6" class="ui--tagline-box ui-row clearfix ui--tagline-box-custom-color radius-3px" data-responsive="{&quot;css&quot;:{&quot;min-height&quot;:{&quot;phone&quot;:&quot;auto&quot;,&quot;tablet&quot;:&quot;auto&quot;,&quot;widescreen&quot;:&quot;&quot;}}}">
       <div  class="ui--tagline-background-container ui--tagline-background-overlay radius-3px"></div>
       <div  class="ui--tagline-background-container ui--tagline-background-image radius-3px"></div>
       <div  class="ui--tagline-content">
         <div class="ui-row row">
         <div   class="ui-column span12">
            <div class="ui--carousel-item ui--twitter-style-plain ui--twitter-timeline-wrap ui--animation clearfix">
        			<div class="ui--twitter-timeline clearfix">
        				<div class="ui--twitter-timeline-content auto-format clearfix">
        					<i class="ui--icon fontawesome-twitter icon-inline-block" style="font-size: 22px;  width: 26px;  height: 26px;"></i>
        					<p>Do you like your apple pie with or without ice cream?
                    <a href="https://twitter.com/search?q=%23ApplePieDay&#038;src=hash" target="_blank" rel="nofollow">#ApplePieDay</a>
                    <a href="https://twitter.com/search?q=%23FoodHoliday&#038;src=hash" target="_blank" rel="nofollow">
                      <a href="https://twitter.com/search?q=%23Food&#038;src=hash" target="_blank" rel="nofollow">#Food</a>Holiday
                    </a>
                    <a href="https://twitter.com/search?q=%23PersonalChef&#038;src=hash" target="_blank" rel="nofollow">#PersonalChef</a>
                    <a href="https://twitter.com/search?q=%23PrivateChef&#038;src=hash" target="_blank" rel="nofollow">#PrivateChef</a>
                    <a href="https://twitter.com/search?q=%23Food&#038;src=hash" target="_blank" rel="nofollow">#Food</a>…
                    <a href="https://t.co/zYqFGgHsIt" target="_blank" rel="nofollow">https://t.co/zYqFGgHsIt</a>
                  </p>
        				</div>
        			</div>
          		<div class="clearfix">
            </div>
      		</div>
        </div>
      </div>
<div class="ui-row row">
 <div   class="ui-column span12">
   <div class="ui--carousel-item ui--twitter-style-plain ui--twitter-timeline-wrap ui--animation clearfix">
    		<div class="ui--twitter-timeline clearfix">
    			<div class="ui--twitter-timeline-content auto-format clearfix">
    				<i class="ui--icon fontawesome-twitter icon-inline-block" style="font-size: 22px;  width: 26px;  height: 26px;"></i>
    				<p>Food Fact: Nuts making fudge better.
              <a href="https://twitter.com/search?q=%23NuttyFudgeDay&#038;src=hash" target="_blank" rel="nofollow">#NuttyFudgeDay</a> <a href="https://twitter.com/search?q=%23FoodHoliday&#038;src=hash" target="_blank" rel="nofollow">
                <a href="https://twitter.com/search?q=%23Food&#038;src=hash" target="_blank" rel="nofollow">#Food</a>Holiday</a>
                <a href="https://twitter.com/search?q=%23PersonalChef&#038;src=hash" target="_blank" rel="nofollow">#PersonalChef</a> <a href="https://twitter.com/search?q=%23PrivateChef&#038;src=hash" target="_blank" rel="nofollow">#PrivateChef</a>
                <a href="https://twitter.com/search?q=%23Food&#038;src=hash" target="_blank" rel="nofollow">#Food</a>
                <a href="https://twitter.com/search?q=%23Entrepreneur&#038;src=hash" target="_blank" rel="nofollow">#Entrepreneur</a>… <a href="https://t.co/NxJwpRk4Lu" target="_blank" rel="nofollow">https://t.co/NxJwpRk4Lu</a>
              </p>
      			</div>
      		</div>
      	<div class="clearfix"></div>
    	</div>
  </div>
</div>
<div class="ui-row row">
 <div   class="ui-column span12">
   <div class="ui--carousel-item ui--twitter-style-plain ui--twitter-timeline-wrap ui--animation clearfix">
				<div class="ui--twitter-timeline clearfix">
					<div class="ui--twitter-timeline-content auto-format clearfix">
						<i class="ui--icon fontawesome-twitter icon-inline-block" style="font-size: 22px;  width: 26px;  height: 26px;"></i>
						<p>Think of a food. Any food. Eat that food today.
              <a href="https://twitter.com/search?q=%23EatWhatYouWantDay&#038;src=hash" target="_blank" rel="nofollow">#EatWhatYouWantDay</a>
              <a href="https://twitter.com/search?q=%23FoodHoliday&#038;src=hash" target="_blank" rel="nofollow">
                <a href="https://twitter.com/search?q=%23Food&#038;src=hash" target="_blank" rel="nofollow">#Food</a>Holiday</a>
                <a href="https://twitter.com/search?q=%23PersonalChef&#038;src=hash" target="_blank" rel="nofollow">#PersonalChef</a> <a href="https://twitter.com/search?q=%23PrivateChef&#038;src=hash" target="_blank" rel="nofollow">#PrivateChef</a>
                <a href="https://twitter.com/search?q=%23Food&#038;src=hash" target="_blank" rel="nofollow">#Food</a>…
                <a href="https://t.co/qIiecVbGeZ" target="_blank" rel="nofollow">https://t.co/qIiecVbGeZ</a>
              </p>
  					</div>
  				</div>
  			<div class="clearfix"></div>
			</div>
    </div>
</div>
<div class="ui-row row">
 <div   class="ui-column span12">
   <div class="ui--carousel-item ui--twitter-style-plain ui--twitter-timeline-wrap ui--animation clearfix">
  			<div class="ui--twitter-timeline clearfix">
  				<div class="ui--twitter-timeline-content auto-format clearfix">
  					<i class="ui--icon fontawesome-twitter icon-inline-block" style="font-size: 22px;  width: 26px;  height: 26px;"></i>
  					<p>Finally, a food holiday for the kids: It&#8217;s
              <a href="https://twitter.com/search?q=%23LiverAndOnionsDay&#038;src=hash" target="_blank" rel="nofollow">#LiverAndOnionsDay</a>
              <a href="https://twitter.com/search?q=%23FoodHoliday&#038;src=hash" target="_blank" rel="nofollow"><a href="https://twitter.com/search?q=%23Food&#038;src=hash" target="_blank" rel="nofollow">#Food</a>Holiday</a>
              <a href="https://twitter.com/search?q=%23PersonalChef&#038;src=hash" target="_blank" rel="nofollow">#PersonalChef</a>
              <a href="https://twitter.com/search?q=%23PrivateChef&#038;src=hash" target="_blank" rel="nofollow">#PrivateChef</a>
              <a href="https://twitter.com/search?q=%23Food&#038;src=hash" target="_blank" rel="nofollow">#Food</a>…
              <a href="https://t.co/gEaMbL3Lrx" target="_blank" rel="nofollow">https://t.co/gEaMbL3Lrx</a>
            </p>
    				</div>
    			</div>
    		<div class="clearfix"></div>
  		</div>
    </div>
</div>
<div class="ui-row row">
 <div   class="ui-column span12">
   <div class="ui--carousel-item ui--twitter-style-plain ui--twitter-timeline-wrap ui--animation clearfix">
  			<div class="ui--twitter-timeline clearfix">
  				<div class="ui--twitter-timeline-content auto-format clearfix">
  					<i class="ui--icon fontawesome-twitter icon-inline-block" style="font-size: 22px;  width: 26px;  height: 26px;"></i>
  					<p>
              <a href="https://twitter.com/search?q=%23askUSPCA&#038;src=hash" target="_blank" rel="nofollow">#askUSPCA</a>
              will be live again SAT 10 am ET with Scott Michael of
              <a href="http://www.twitter.com/StrombeckCPAs" target="_blank" rel="nofollow">@StrombeckCPAs</a> &amp;
              <a href="http://www.twitter.com/larrylynch" target="_blank" rel="nofollow">@larrylynch</a> &#8211; Managing Costs for P… <a href="https://t.co/ZGnecOuMLA" target="_blank" rel="nofollow">https://t.co/ZGnecOuMLA</a>
            </p>
    				</div>
    			</div>
    		<div class="clearfix"></div>
  		</div>
    </div>
</div>
<div class="ui-row row">
   <div   class="ui-column span12">
     <div class="ui--carousel-item ui--twitter-style-plain ui--twitter-timeline-wrap ui--animation clearfix">
  				<div class="ui--twitter-timeline clearfix">
  					<div class="ui--twitter-timeline-content auto-format clearfix">
  						<i class="ui--icon fontawesome-twitter icon-inline-block" style="font-size: 22px;  width: 26px;  height: 26px;"></i>
  						<p>Personal Chefs, Your Food Safety and Handling Experts
                <a href="https://t.co/7H6UCTqMAj" target="_blank" rel="nofollow">https://t.co/7H6UCTqMAj</a>
                <a href="https://t.co/nJgoOpzqyY" rel="nofollow">https://t.co/nJgoOpzqyY</a>
              </p>
  					</div>
  				</div>
    			<div class="clearfix"></div>
  			</div>
      </div>
    </div>
  </div>
</div>
			<div class="ui--shadow ui--shadow-type-3  clearfix">
				<img src="https://www.hireachef.com/wp-content/themes/envision/includes/modules/module.shadow/shadows/shadow-3.png" alt="" />
			</div>
		</div>
  </div>
</div>
	</div></div><!-- /.container --></div><!-- /#page-content -->
<!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**-->






<!-- **foot面板**--><!-- **foot面板**--><!-- **foot面板**--><!-- **foot面板**--><!-- **foot面板**--><!-- **foot面板**--><!-- **foot面板**--><!-- **foot面板**-->
<!-- **foot面板**--><!-- **foot面板**--><!-- **foot面板**--><!-- **foot面板**--><!-- **foot面板**--><!-- **foot面板**--><!-- **foot面板**--><!-- **foot面板**-->
	<footer class="ui-dark">
		<div id="footer-widgets">
			<div class="container">
				<div id="footer-widgets-row1">
					<div class="ui-row row" style="width:1200px; height:198px;">
						<aside class="widget-area span6">
							<div id="nav_menu-3" class="widget widget-footer widget_nav_menu">
                <h4 class="footer-widget-title ui--widget-title">
                  Quick Menu
                </h4>
                <div class="menu-footer-menu-1-container">
                  <ul id="menu-footer-menu-1" class="menu">
                    <li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item menu-item-84">
                      <a href="https://www.hireachef.com/">
                        Home
                      </a>
                    </li>
                    <li id="menu-item-85" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-85">
                      <a href="https://www.hireachef.com/about-us/">
                        About Us
                      </a>
                    </li>
                    <li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86">
                      <a href="https://www.hireachef.com/blog/">
                        Blog
                      </a>
                    </li>
                    <li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87">
                      <a href="https://www.hireachef.com/contact-us/">
                        Contact Us
                      </a>
                    </li>
                  </ul>
              </div>
              </div>
            </aside>
						<aside class="widget-area span6">
							<div id="nav_menu-4" class="widget widget-footer widget_nav_menu">
                <h4 class="footer-widget-title ui--widget-title">
                  For Chefs
                </h4>
                <div class="menu-footer-menu-2-container">
                  <ul id="menu-footer-menu-2" class="menu">
                    <li id="menu-item-188" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-188">
                      <a href="https://www.hireachef.com/search/">Search For A Chef</a>
                    </li>
                    <li id="menu-item-91" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-91">
                      <a href="https://www.hireachef.com/get-a-listing/">Get A Listing</a>
                    </li>
                    <li id="menu-item-90" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90">
                      <a href="https://www.hireachef.com/chef-login/">Chef Login</a>
                    </li>
                  </ul>
                </div>
              </div>
            </aside>

					</div>
				</div>
  			<div class="footer-widgets-row-separator ui--footer-seperator-color"></div>
  				<div id="footer-widgets-row2">
  					<div class="ui-row row">
  						<aside class="widget-area span12">
  							<div id="text-7" class="widget widget-footer widget_text">
                  <div class="textwidget">
                    <div class="ui--image-wrap clearfix text-center ui--block" style="margin-bottom: 15px;">
                      <img  id="ui--image-4" class="ui--image ui--animation" src="https://hireachef.com/wp-content/uploads/2014/07/dark-logo.png" alt="" title="" data-at2x=""/>
                    </div>
                    <p style="text-align: center;">
                      © 2017
                      <a href="https://uspca.com/" target="_blank">United States Personal Chef Association, LLC</a>
                      . All Rights Reserved.
                    </p>
                  </div>
  		          </div>
              </aside>
  					</div>
  				</div>
			</div>
		</div>

<!-- **foot信息栏**--><!-- **foot信息栏**--><!-- **foot信息栏**--><!-- **foot信息栏**--><!-- **foot信息栏**--><!-- **foot信息栏**--><!-- **foot信息栏**-->
  	<div id="footer-bottom" class="">
  		<div class="container">
  			<div id="footer-texts" class="pull-right">
          <p class="author">
            Designed by
            <a href="http://www.leadburst.com/" target="_blank" title="LeadBurst Marketing">
              LeadBurst Marketing
              <img src="https://leadburst.com/images/LB_logo.png" alt="Leadburst">
            </a>
          </p>
        </div>
  			<div id="footer-navigation" class="pull-left">
          <ul id="menu-policy-menu-bottom" class="clearfix unstyled-all">
            <li id="menu-item-82" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82">
              <a href="https://www.hireachef.com/privacy-policy/">Privacy Policy</a>
            </li>
            <li class="ui--separator">
              /
            </li>
            <li id="menu-item-83" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83">
              <a href="https://www.hireachef.com/terms-of-use/">Terms Of Use</a>
            </li>
            <li class="ui--separator">
              /
            </li>
          </ul>
        </div>
      </div>
  	</div>
</footer>
<!-- **foot面板**--><!-- **foot面板**--><!-- **foot面板**--><!-- **foot面板**--><!-- **foot面板**--><!-- **foot面板**--><!-- **foot面板**--><!-- **foot面板**-->







  </div><!-- /#page-wrap -->
</div><!-- /#main-container -->
    	<div id="side-panel" class="ui-row">
    		<div id="ui--side-content-widget-1">
    			<h3>
            <strong></strong>
          </h3>
    		</div>
    		<div id="ui--side-content-widget-2">
    			<h3>
            <strong></strong>
          </h3>
    		</div>
    		<div id="ui--side-content-widget-3">
    			<h3>
            <strong></strong>
          </h3>
    		</div>
    	</div>
</div><!-- /#side-panel-pusher -->




<!-- Start of Async HubSpot Analytics Code for WordPress v1.1.0 -->
<script type="text/javascript">
var _hsq = _hsq || [];
_hsq.push(["setContentType", "standard-page"]);
(function(d,s,i,r) {
if (d.getElementById(i)){return;
}

var n = d.createElement(s),e = document.getElementsByTagName(s)[0];
  n.id=i;n.src = '//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/1907931.js';
  e.parentNode.insertBefore(n, e);
})(document, "script", "hs-analytics", 300000);
</script>
<!-- End of Async HubSpot Analytics Code -->
<script type='text/javascript' src='https://www.hireachef.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {
"recaptcha"
:{"messages": {"empty":"Please verify that you are not a robot."
}},"cached":"1"
};
/* ]]> */
</script>
<script type='text/javascript' src='https://www.hireachef.com/wp-content/plugins/contact-form-7/includes/js/scripts.js'></script>
<script type='text/javascript' src='https://www.hireachef.com/wp-includes/js/jquery/ui/core.min.js'></script>
<script type='text/javascript' src='https://www.hireachef.com/wp-includes/js/jquery/ui/widget.min.js'></script>
<script type='text/javascript' src='https://www.hireachef.com/wp-includes/js/jquery/ui/mouse.min.js'></script>
<script type='text/javascript' src='https://www.hireachef.com/wp-includes/js/jquery/ui/resizable.min.js'></script>
<script type='text/javascript' src='https://www.hireachef.com/wp-includes/js/jquery/ui/draggable.min.js'></script>
<script type='text/javascript' src='https://www.hireachef.com/wp-includes/js/jquery/ui/button.min.js'></script>
<script type='text/javascript' src='https://www.hireachef.com/wp-includes/js/jquery/ui/position.min.js'></script>
<script type='text/javascript' src='https://www.hireachef.com/wp-includes/js/jquery/ui/dialog.min.js'></script>
<script type='text/javascript' src='https://www.hireachef.com/wp-content/themes/envision/lib/js/jquery.prettyPhoto.js'></script>
<script type='text/javascript' src='https://www.hireachef.com/wp-includes/js/comment-reply.min.js'></script>
<script type='text/javascript' src='https://www.hireachef.com/wp-includes/js/wp-embed.min.js'></script>
<script type='text/javascript' src='https://www.hireachef.com/wp-content/themes/envision/lib/js/waypoints.min.js'></script>
<script type='text/javascript' src='https://www.hireachef.com/wp-content/themes/envision/lib/js/waypoints-sticky.js'></script>
<script type='text/javascript' src='https://platform.twitter.com/widgets.js'></script>
<script type="text/javascript">
    $ = jQuery.noConflict();
  	jQuery(function($) {
if ($("#MembeeSignInLink").length>0) {
  			 $.getScript("https://memberservices.membee.com/feeds/Login/LoginScript.ashx?clientid=517&appid=1169&destURL=http%3A%2F%2Fwww.hireachef.com%2F")
}
	})
  </script>
<script type="text/javascript">
// <![CDATA[
	var styleElement = document.createElement("style");
		styleElement.type = "text/css";

	var cloudfw_dynamic_css_code = "@media ( min-width: 979px ) { .modern-browser #header-container.stuck #logo img {margin-top: 10px !important;  margin-bottom: 10px !important;}  }\r\n\r\nhtml #page-content .section-u6unjoxyz8 {background-image: url('https:\/\/www.hireachef.com\/wp-content\/uploads\/2014\/07\/halftone.png') !important; filter: none !important; -ms-filter: none !important;  background-repeat: repeat !important;  border-top: 1px solid #e2d6a1;  border-bottom: 1px solid #e2d6a1;} html #page-content .section-u6unjoxyz8 p {} html #page-content .section-u6unjoxyz8 h1, html #page-content .section-u6unjoxyz8 h2, html #page-content .section-u6unjoxyz8 h3, html #page-content .section-u6unjoxyz8 h4, html #page-content .section-u6unjoxyz8 h5, html #page-content .section-u6unjoxyz8 h6, html #page-content .section-u6unjoxyz8 .heading-colorable {} html #page-content .section-u6unjoxyz8 a {} html #page-content .section-u6unjoxyz8 a:hover {} \r\nhtml #tagline-1 {min-height: 266px;  border-style: solid;  border-width: 1px;  border-color: #eeeeee;} html #tagline-1 > .ui--tagline-background-image {-ms-filter: \"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)\";z-index: 1;} html #tagline-1 > .ui--tagline-background-overlay {background-color:#f9f9f9; background-image: none ;  -ms-filter: \"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)\";opacity: 1;  -ms-filter: \"progid:DXImageTransform.Microsoft.Alpha(Opacity=200)\";z-index: 2;} \r\nhtml #tagline-2 {min-height: 266px;  border-style: solid;  border-width: 1px;  border-color: #eeeeee;} html #tagline-2 > .ui--tagline-background-image {-ms-filter: \"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)\";z-index: 1;} html #tagline-2 > .ui--tagline-background-overlay {background-color:#f9f9f9; background-image: none ;  -ms-filter: \"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)\";opacity: 1;  -ms-filter: \"progid:DXImageTransform.Microsoft.Alpha(Opacity=200)\";z-index: 2;} \r\nhtml #tagline-3 {min-height: 266px;  border-style: solid;  border-width: 1px;  border-color: #eeeeee;} html #tagline-3 > .ui--tagline-background-image {-ms-filter: \"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)\";z-index: 1;} html #tagline-3 > .ui--tagline-background-overlay {background-color:#f9f9f9; background-image: none ;  -ms-filter: \"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)\";opacity: 1;  -ms-filter: \"progid:DXImageTransform.Microsoft.Alpha(Opacity=200)\";z-index: 2;} \r\nhtml #tagline-4 {border-style: solid;  border-width: 1px;  border-color: #e3e3e3;} html #tagline-4 > .ui--tagline-background-image {-ms-filter: \"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)\";z-index: 1;} html #tagline-4 > .ui--tagline-background-overlay {background-color:#f9f9f9; background-image: none ;  -ms-filter: \"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)\";opacity: 1;  -ms-filter: \"progid:DXImageTransform.Microsoft.Alpha(Opacity=200)\";z-index: 2;} \r\nhtml #tagline-5 {border-style: solid;  border-width: 1px;  border-color: #eeeeee;} html #tagline-5 > .ui--tagline-background-image {-ms-filter: \"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)\";z-index: 1;} html #tagline-5 > .ui--tagline-background-overlay {background-color:#f9f9f9; background-image: none ;  -ms-filter: \"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)\";opacity: 1;  -ms-filter: \"progid:DXImageTransform.Microsoft.Alpha(Opacity=200)\";z-index: 2;} \r\nhtml #tagline-6 {border-style: solid;  border-width: 1px;  border-color: #eeeeee;} html #tagline-6 > .ui--tagline-background-image {-ms-filter: \"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)\";z-index: 1;} html #tagline-6 > .ui--tagline-background-overlay {background-color:#f9f9f9; background-image: none ;  -ms-filter: \"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)\";opacity: 1;  -ms-filter: \"progid:DXImageTransform.Microsoft.Alpha(Opacity=200)\";z-index: 2;} ";

	if (styleElement.styleSheet) {
styleElement.styleSheet.cssText = cloudfw_dynamic_css_code;
}

else {
styleElement.appendChild(document.createTextNode(cloudfw_dynamic_css_code));
}

document.getElementsByTagName("head")[0].appendChild(styleElement);

// ]]>
</script>


</html>
<!-- /This page took 0.412150 seconds to load. --><!-- Memory use: 11,090,616 bytes -->
<!-- Performance optimized by W3 Total Cache. Learn more: https://www.w3-edge.com/products/
Served from: www.hireachef.com @ 2017-05-14 11:12:01 by W3 Total Cache -->
