<div class="row row-windex1">
  <div class="posi-windex1">
    <h1>DIY你的味道</h1>
    <h3>只有你想不到的搭配，没有我做不出的菜肴</h3>
    <span>
      <a href = "JavaScript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'" class="btn btn-default btn-lg" role="button" style="margin-top:10px;">如何使用</a>
    </span>
    <!-- <span><a href="/products" class="btn btn-default btn-lg" role="button">立即搭配</a></span> -->
  </div>
</div>

<div id="light" class="white_content">
  <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'" class="col-md-12">
    <i class="fa fa-times-circle-o i-windex-1" aria-hidden="true"></i>
  </a>
  <div class="col-md-4 text-center">
    <img src='<%= image_url 'how1.png' %>' alt="">
    <h3 class="font-openbox">自定菜品<br/>选择原料调味</h3>
  </div>
  <div class="col-md-4 text-center">
    <img src='<%= image_url 'how2.png' %>' alt="">
    <h3 class="font-openbox">预订厨师<br/>上门协助完成</h3>
  </div>
  <div class="col-md-4 text-center">
    <img src='<%= image_url 'how3.png' %>' alt="">
    <h3 class="font-openbox">完成味道<br/>静享欢乐时光</h3>
  </div>
</div>
<div id="fade" class="black_overlay"></div>

<div class="row row-windex2">
  <div class="col-md-9 col-centered">
    <h2 class="text-center">我们提供原材料</h2>
    <div class="col-md-4 col-sm-4">
        <a href="/products?category=肉" class="thumbnail b0">
            <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1fg15pcnnglj309q09qjrs.jpg" class="img-circle">
        </a>
    </div>
    <div class="col-md-4 col-sm-4">
        <a href="/products?category=菜" class="thumbnail b0">
            <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1fg15pccpdyj309q09qt9c.jpg" class="img-circle">
        </a>
    </div>
    <div class="col-md-4 col-sm-4">
        <a href="/products?category=料" class="thumbnail b0">
            <img src="http://ww4.sinaimg.cn/large/006tKfTcgy1fg15pc8vqqj309q09qt90.jpg" class="img-circle">
        </a>
    </div>
  </div>
</div>


<div class="row  row-windex3">
  <div class="col-md-5 col-centered">
    <h2 class="text-center">还提供上门厨师</h2>
    <a href="/products?category=厨">
      <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1fg14gzkplqj315o0rsqqu.jpg">
    </a>
  </div>
</div>
