<div class="row row-windex1">
  <div class="posi-windex1">
    <h1>DIY你的味道</h1>
    <h3>只有你想不到的搭配，没有我做不出的菜肴</h3>
    <span><a class="btn btn-default btn-lg" role="button">如何使用</a></span>
    <span><a href="/products" class="btn btn-default btn-lg" role="button">立即搭配</a></span>
  </div>
</div>

<div class="row row-windex2">
  <div class="col-md-9 col-centered">
    <h2 class="text-center">提供原材料</h2>
    <div class="col-md-4">
      <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1fg07sytedcj30dw0dwafk.jpg" alt="" class="img-circle">
    </div>
    <div class="col-md-4">
      <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1fg07sytedcj30dw0dwafk.jpg" alt="" class="img-circle">
    </div>
    <div class="col-md-4">
      <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1fg07sytedcj30dw0dwafk.jpg" alt="" class="img-circle">
    </div>
  </div>
</div>

<div class="row row-windex2">
  <div class="col-md-9 col-centered">
    <h2 class="text-centered">提供上门厨师</h2>
    <div class="col-md-4">
      <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1fg07sytedcj30dw0dwafk.jpg" alt="" class="img-circle">
    </div>
    <div class="col-md-4">
      <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1fg07sytedcj30dw0dwafk.jpg" alt="" class="img-circle">
    </div>
    <div class="col-md-4">
      <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1fg07sytedcj30dw0dwafk.jpg" alt="" class="img-circle">
    </div>
  </div>
</div>
