<style>
.row-windex1 {
  margin-top: 50px;
}
.img-windex-1 {
  background-image: url(https://www.hireachef.com/wp-content/uploads/2014/07/hireachef-slider2.jpg);
  height: 660px;
}
</style>


<div class="jumbotron img-windex-1">
	<div class="container">
    <h1>DIY你的味道</h1>
    <h1>只有你想不到的搭配，没有我做不出的菜肴</h1>
		<p style="float:left; margin-right:20px;"><a class="btn btn-primary btn-lg" role="button">学习更多</a></p>
    <p><a class="btn btn-primary btn-lg" role="button">学习更多</a></p>
	</div>
</div>

<div class="row row-windex1">
  <div class="col-md-9 col-centered">
    <h2 class="text-center">提供原材料</h2>
    <div class="col-md-4">
      <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1fg07sytedcj30dw0dwafk.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1fg07sytedcj30dw0dwafk.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1fg07sytedcj30dw0dwafk.jpg" alt="">
    </div>
  </div>
</div>

<div class="row row-windex1">
  <div class="col-md-9 col-centered">
    <h2 class="text-centered">提供上门厨师</h2>
    <div class="col-md-4">
      <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1fg07sytedcj30dw0dwafk.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1fg07sytedcj30dw0dwafk.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1fg07sytedcj30dw0dwafk.jpg" alt="">
    </div>
  </div>
</div>
