

<div class="row row-windex1">
  <div class="posi-windex1">
    <h1>DIY你的味道</h1>
    <h3>只有你想不到的搭配，没有我做不出的菜肴</h3>
    <span>
      <a href = "JavaScript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'" class="btn btn-default btn-lg" role="button" style="margin-top:10px;">如何使用</a>
    </span>
    <!-- <span><a href="/products" class="btn btn-default btn-lg" role="button">立即搭配</a></span> -->
  </div>
</div>

<div id="light" class="white_content">
  <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'" class="col-md-12">
    <i class="fa fa-times-circle-o i-windex-1" aria-hidden="true"></i>
  </a>
  <div class="col-md-4 text-center">
    <img src='<%= image_url 'how1.png' %>' alt="">
    <h3 class="font-openbox">自定菜品<br/>选择原料调味</h3>
  </div>
  <div class="col-md-4 text-center">
    <img src='<%= image_url 'how2.png' %>' alt="">
    <h3 class="font-openbox">预订厨师<br/>上门协助完成</h3>
  </div>
  <div class="col-md-4 text-center">
    <img src='<%= image_url 'how3.png' %>' alt="">
    <h3 class="font-openbox">完成味道<br/>静享欢乐时光</h3>
  </div>
</div>
<div id="fade" class="black_overlay"></div>

<div class="row row-22" style="background-color: #fff; margin:70px 7% -50px; position:relative;">
  <div class="col-md-12">
    <h2 class="text-center">我们提供原材料</h2>
    <div class="col-md-4 col-sm-4">
        <a href="/products?category=肉" class="thumbnail b0">
            <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1fg15pcnnglj309q09qjrs.jpg" class="img-circle">
        </a>
        <h3 class="text-center">肉</h3>
    </div>
    <div class="col-md-4 col-sm-4">
        <a href="/products?category=肉" class="thumbnail b0">
            <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1fg15pccpdyj309q09qt9c.jpg" class="img-circle">
        </a>
        <h3 class="text-center">菜</h3>
    </div>
    <div class="col-md-4 col-sm-4">
        <a href="/products?category=肉" class="thumbnail b0">
            <img src="http://ww4.sinaimg.cn/large/006tKfTcgy1fg15pc8vqqj309q09qt90.jpg" class="img-circle">
        </a>
        <h3 class="text-center">料</h3>
    </div>
  </div>

  <div class="col-md-12" style="margin-top:100px;">
    <div class="col-md-5 col-centered">
      <h2 class="text-center" style="margin-bottom:30px;">还提供上门厨师</h2>
      <a href="/products?category=厨">
        <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1fg14gzkplqj315o0rsqqu.jpg">
      </a>
    </div>
  </div>
</div>

<div class="row row-windex0" style="background-image:url(https://ws3.sinaimg.cn/large/006tKfTcgy1fg5tylae2dj31kw0o84p6.jpg);height: 660px;">
</div>

<div class="row" style="background-color: #fff; margin:-50px 7% 280px; position:relative; padding-top:50px;">
  <div id="myCarousel" class="carousel slide" style="padding-bottom:30px;">
  	<!-- 轮播（Carousel）指标 -->
    <div class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active" style="border-color:#000;"></li>
      <li data-target="#myCarousel" data-slide-to="1" style="border-color:#000;"></li>
      <li data-target="#myCarousel" data-slide-to="2" style="border-color:#000;"></li>
    </div>
  	<div class="carousel-inner" style="background-color: #fff">
  		<div class="item active text-center" style="background-color:#fff; padding:50px 20px; margin:50px 450px; ">
  			<div>
          <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fg64wgsyfbj303c03cq2x.jpg" alt="First slide" class="img-circle" style="width:150px; margin-bottom:3em;">
        </div>
        <h3 style="letter-spacing:0.1em; line-height:1.7em;">作为美食达人的我，吃遍天下美食，几乎快吃腻了，直到遇见「品位食验室」，我就没有这个烦恼了。</h3>
  		</div>
      <div class="item text-center" style="background-color:#fff; padding:50px 20px; margin:50px 450px; ">
        <div>
          <img src="https://ws2.sinaimg.cn/large/006tNc79gy1fg64wed4n5j303c03cjre.jpg" alt="First slide" class="img-circle" style="width:150px; margin-bottom:3em;">
        </div>
        <h3 style="letter-spacing:0.1em; line-height:1.7em;">代码敲到累的时候，上「品位实验室」订个厨师，然后起身活动活动，伸伸懒腰，厨师就送上门了，又快又方便!</h3>
      </div>
      <div class="item text-center" style="background-color:#fff; padding:50px 20px; margin:50px 450px; ">
        <div>
          <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fg650mkd26j30bq0bqdgf.jpg" alt="First slide" class="img-circle" style="width:150px; margin-bottom:3em;">
        </div>
        <h3 style="letter-spacing:0.1em; line-height:1.7em;">「品位食验室」完全还原你的味道，质量有保证，我们家的年夜饭都是在上面买的，超赞！</h3>
      </div>
  	</div>
  </div>

  <div class="col-md-10 col-centered" style="margin-top:40px; margin-bottom:-170px;">
    <a href="#">
      <img src="https://ws2.sinaimg.cn/large/006tNc79gy1fg5xas2xrqj313q0cfach.jpg" style="margin-bottom:50px;">
    </a>
  </div>
</div>

<div id="myCarousel" class="carousel slide">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img src="https://ws3.sinaimg.cn/large/006tNc79gy1fg64wgsyfbj303c03cq2x.jpg" alt="First slide">
		</div>
		<div class="item">
			<img src="https://ws2.sinaimg.cn/large/006tNc79gy1fg64wed4n5j303c03cjre.jpg" alt="Second slide">
		</div>
		<div class="item">
			<img src="https://ws2.sinaimg.cn/large/006tNc79gy1fg5xas2xrqj313q0cfach.jpg" alt="Third slide">
		</div>
	</div>
	<a class="carousel-control left" href="#myCarousel"
	   data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel"
	   data-slide="next">&rsaquo;</a>
</div>
