<div class="row row-windex1">
  <div class="posi-windex1">
    <h1>DIY你的味道</h1>
    <h3>只有你想不到的搭配，没有我做不出的菜肴</h3>
    <span><a class="btn btn-default btn-lg" role="button">如何使用</a></span>
    <span><a href="/products" class="btn btn-default btn-lg" role="button">立即搭配</a></span>
  </div>
</div>

<div class="row row-windex2">
  <div class="col-md-9 col-centered">
    <h2 class="text-center">我们提供原材料</h2>
    <div class="col-md-4 col-sm-4">
        <a href="/products?category=肉" class="thumbnail b0">
            <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1fg15pcnnglj309q09qjrs.jpg" class="img-circle">
        </a>
    </div>
    <div class="col-md-4 col-sm-4">
        <a href="/products?category=菜" class="thumbnail b0">
            <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1fg15pccpdyj309q09qt9c.jpg" class="img-circle">
        </a>
    </div>
    <div class="col-md-4 col-sm-4">
        <a href="/products?category=料" class="thumbnail b0">
            <img src="http://ww4.sinaimg.cn/large/006tKfTcgy1fg15pc8vqqj309q09qt90.jpg" class="img-circle">
        </a>
    </div>
  </div>
</div>


<div class="row  row-windex3">
  <div class="col-md-5 col-centered">
    <h2 class="text-center">还提供上门厨师</h2>
    <a href="/products?category=厨">
      <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1fg14gzkplqj315o0rsqqu.jpg">
    </a>
  </div>
</div>
