<!DOCTYPE html>
<html class="no-js html-loading wf-active modern-browser" lang="zh-CN">
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= render "welcome/box" %><!--======轮播图======-->

<div class="container-fluid"><!--======使用者见证======-->
  <div class="row row-content-1">
    <div class="col-md-9 col-centered">
      <div class="col-md-12">
        <h2 class="font-h-1">
          和品位食验室 旅行到味道宇宙边缘
        </h2>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="ui--box-widget">
          <div  class="ui--content-box ui--box ui--content-item ui--animation ui-row">
            <div class="ui--content-box-header">
               <div class="ui--content-box-media effect--fade type--image-hover clearfix" style="padding-bottom: 42.86%;">
                 <div class="ui--content-box-image-default">
                   <img  class="ui--content-box-image" src="http://ww4.sinaimg.cn/large/006tNbRwgy1ffrohxgro5j30sg0iz41c.jpg"
                   alt="" title=""/>
                 </div>
              </div>
              <div class="ui--content-box-title ui--gradient ui--gradient-grey on--hover clearfix text-left">
                <h5 class="ui--content-box-title-text">
                  <img class="ui--icon"
                    src="https://hireachef.com/wp-content/uploads/2014/07/search-icon.png"
                     alt="" data-at2x="" data-retina-auto="1" style="margin-right: 5px;"/>
                    上网下单
                  </h5>
              </div>
            </div>
            <ul class="ui--list list-font-icon parent-1">
              <li class="child-1 total-1 ui--animation position-font-1">
                <i class="list-icon 14px fontawesome-ok"></i>
                <a href="javascript:void(0)">
                  足不出户，创意落地，选择底料与味道，成为作者，下单静待联系，核实时间地点。
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="ui--box-widget">
          <div  class="ui--content-box ui--box ui--content-item ui--animation ui-row">
            <div class="ui--content-box-header">
              <div class="ui--content-box-media effect--fade type--default clearfix" style="padding-bottom: 42.86%;">
                <div class="ui--content-box-image-default">
                  <img  class="ui--content-box-image"
                    src="http://ww2.sinaimg.cn/large/006tNbRwgy1ffroulups8j30fu06tgmk.jpg"
                    alt="" title=""/>
                </div>
              </div>
              <div class="ui--content-box-title ui--gradient ui--gradient-grey on--hover clearfix text-left">
                <h5 class="ui--content-box-title-text">
                  <img class="ui--icon" src="https://hireachef.com/wp-content/uploads/2014/07/search-icon.png"
                   alt="" data-at2x="" data-retina-auto="1" style="margin-right: 5px;"/>
                   实验研究
                </h5>
              </div>
            </div>
            <div class="ui--content-box-content">
              <div class="ui--content-box-content-text">
                 <ul class="ui--list list-font-icon parent-2">
                  <li class="child-1 total-2 ui--animation position-font-2">
                    <i class="list-icon 14px fontawesome-ok"></i>
                    <a href="javascript:void(0)">
                      收到想法，味道实验员集思广益，钻研菜品，选出最合适主厨。
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="ui--box-widget">
          <div  class="ui--content-box ui--box ui--content-item ui--animation ui-row">
             <div class="ui--content-box-header">
               <div class="ui--content-box-media effect--fade type--default clearfix" style="padding-bottom: 42.86%;">
                 <div class="ui--content-box-image-default">
                   <img  class="ui--content-box-image"
                      src="http://ww4.sinaimg.cn/large/006tNbRwgy1ffrou1ray8j30fu06twff.jpg"
                      alt="" title=""/>
                 </div>
               </div>
               <div class="ui--content-box-title ui--gradient ui--gradient-grey on--hover clearfix text-left">
                 <h5 class="ui--content-box-title-text">
                   <img class="ui--icon" src="https://hireachef.com/wp-content/uploads/2014/07/question-icon.png"
                    alt="" data-at2x="" data-retina-auto="1" style="margin-right: 5px;"/>
                   上门实做
                 </h5>
               </div>
             </div>
             <div class="ui--content-box-content">
               <div class="ui--content-box-content-text">
                 <ul class="ui--list list-font-icon parent-3">
                  <li class="child-1 total-1 ui--animation position-font-2">
                    <i class="list-icon 14px fontawesome-ok"></i>
                    <a href="javascript:void(0)" target="_blank">
                      主厨到位，与作者亲密交谈，碰撞思维火花，完成品位之旅。
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid"><!--======关于我们、手机、杂志======-->
  <div class="row">
    <div class="col-md-9 col-centered">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <h3>
          关于我们
          <div style="background-color:#F0F0F0; height:1px; width:62%; margin-top:-10px; margin-left:120px; "></div>
        </h3>
        <div class="panel panel-default bg-same-1">
          <div class="panel-body panel-same-1 panel-section-1">
            <img src='<%= image_url 'logobai.jpg' %>'>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;厨师为了新菜筋疲力竭，灵感枯萎，束缚太多；
                美食家有太多新奇想法，却苦于没有经验；
                品位食验室，连接丰富经验与美妙创意的桥梁。
            </p>
          </div>
        </div>
        <div class="img-shadow-1">
          <img src="https://www.hireachef.com/wp-content/themes/envision/includes/modules/module.shadow/shadows/shadow-3.png">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <h3>
           探索味道
           <div style="background-color:#F0F0F0; height:1px; width:62%; margin-top:-10px; margin-left:120px; "></div>
        </h3>
        <div class="panel panel-default bg-same-1">
          <div class="panel-body panel-same-1 panel-section-2">
            <img src="http://ww4.sinaimg.cn/large/006tNbRwgy1ffs5fmvgi9j3046092q4j.jpg">
            <p>下一道传世菜品由你来创造！</p>
            <ul>
              <li>快速预约 无理由退款</li>
              <li>和大厨一起创造经典</li>
              <li>为美味申请专利</li>
              <li>时间会把故事变为传奇</li>
            </ul>
          </div>
        </div>
        <div class="img-shadow-2">
          <img src="https://www.hireachef.com/wp-content/themes/envision/includes/modules/module.shadow/shadows/shadow-3.png">
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <h3>
          Blog
          <div style="background-color:#F0F0F0; height:1px; width:62%; margin-top:-10px; margin-left:120px; "></div>
        </h3>
        <div class="panel panel-default bg-same-1">
          <div class="panel-body panel-same-1 panel-section-3">
            <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ffqps7t21pj308c0b4dkx.jpg">
            <h6>
              探索旅程记录
            </h6>
            <p>
              <span>(一些点子，欢迎来访)</span>
            </p>
            <p> <a href="http://jiujiubad-blog.logdown.com/" target="_blank">xieyuchu</a><br> <a href="http://yanghldeld-blog.logdown.com/" target="_blank">yanghaolin</a></p>
          </div>
        </div>
        <div class="img-shadow-3">
          <img src="https://www.hireachef.com/wp-content/themes/envision/includes/modules/module.shadow/shadows/shadow-3.png">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid"><!--======分隔图片======-->
  <div class="row row-content-3">
    <div class="col-md-9 col-centered">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default bg-1">
          <div class="panel-body">
            <div class="col-md-12 pic-4">
              <img src="http://ww4.sinaimg.cn/large/006tNbRwgy1ffs5n7s3hnj30k802igmh.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid"><!--======NEWS新闻报道======-->
  <div class="row row-content-4">
    <div class="col-md-9 col-centered">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h3>
          灵感来源
          <div style="background-color:#F0F0F0; height:1px; width:72%; margin-top:-10px; margin-left:120px; "></div>
        </h3>
        <div class="panel panel-default bg-1">
          <div class="panel-body panel-content-4-1">
            <div class="col-md-12">
              <div class="col-md-2">
                <div class="ui--blog-date ui--box">
                  <h3>
                    <span class="ui--blog-date-day ui--accent-gradient-hover">20</span>
                  </h3>
                  <h6 class="ui--blog-date-month">
                    <span>APR</span>
                  </h6>
                </div>
              </div>
              <div class="col-md-10">
                <h5><a href="https://fullstack.xinshengdaxue.com/works/296" id="font-color-1" target="_blank">
                  Inspired by a website to find bugs
                </a></h5>
                <p>
                  Find a bug net, bug information focused enough, can effectively reduce the teaching assistant work pressure...
                </p>
                <a class="btn btn-small btn-secondary muted" href="https://zhaobug.herokuapp.com/" target="_blank">Read More</a>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-2">
                <div class="ui--blog-date ui--box">
                  <h3>
                    <span class="ui--blog-date-day ui--accent-gradient-hover">22</span>
                  </h3>
                  <h6 class="ui--blog-date-month ">
                    <span>May</span>
                  </h6>
                </div>
              </div>
              <div class="col-md-10">
                <h5><a href="https://fullstack.xinshengdaxue.com/works/324" id="font-color-1" target="_blank">With design and ideas
                </a></h5>
                <p>Chayotes
                  Combining lowpoly recruitment website design elements of the Internet industry...
                </p>
                <a class="btn btn-small btn-secondary muted" href="https://fast-wildwood-87625.herokuapp.com/" target="_blank">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="img-shadow-4">
          <img src="https://www.hireachef.com/wp-content/themes/envision/includes/modules/module.shadow/shadows/shadow-3.png">
        </div>
     </div>
     <div class="col-md-6 col-sm-6 col-xs-12"><!--======APP报道======-->
       <h3>
         外部支持
         <div style="background-color:#F0F0F0; height:1px; width:72%; margin-top:-10px; margin-left:120px; "></div>
       </h3>
       <div class="panel panel-default bg-1">
         <div class="panel-body panel-content-4-2">
            <i class="fa fa-facebook-official" aria-hidden="true" style="font-size: 22px;  width: 26px;  height: 26px; float:left;"></i>
    				<p>Xdite: the Personal Chefs, Your Food Safety and Handling Experts.
              <a href="https://www.facebook.com/xdite" id="font-color-1" target="_blank">https://www.facebook.com/xdite</a>
            </p><br/>
            <i class="fa fa-facebook-official" aria-hidden="true" style="font-size: 22px;  width: 26px;  height: 26px; float:left;"></i>
            <p>Nic: The Best Way to Celebrate No Dirty Dishes Day.
            <a href="https://www.facebook.com/bboyceo" id="font-color-1" target="_blank">https://www.facebook.com/bboyceo</a>
            </p><br/>
            <i class="fa fa-facebook-official" aria-hidden="true" style="font-size: 22px;  width: 26px;  height: 26px; float:left;"></i>
            <p>Ihower: I think name a better souffle than Cheese Souffle.
              <a href="https://www.facebook.com/ihower" id="font-color-1" target="_blank">https://www.facebook.com/ihower</a>
            </p><br/>
            <i class="fa fa-facebook-official" aria-hidden="true" style="font-size: 22px;  width: 26px;  height: 26px; float:left;"></i>
            <p>Li Xiaolai: What is your favorite BBQ item? Food Entrepreneur.
              <a href="https://www.facebook.com/xiaolai" id="font-color-1" target="_blank">https://www.facebook.com/xiaolai</a>
            </p>
          </div>
        </div>
        <div class="img-shadow-4">
          <img src="https://www.hireachef.com/wp-content/themes/envision/includes/modules/module.shadow/shadows/shadow-3.png">
        </div>
      </div>

    </div>
  </div>
</div>


<script type='text/javascript' src='https://www.hireachef.com/wp-content/themes/envision/lib/js/jquery.prettyPhoto.js'>
</script>
</html>
