<!DOCTYPE html>
<html class="no-js html-loading wf-active modern-browser" lang="zh-CN">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**-->
<div class="ui--rev-slider">
  <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#333333;padding:0px;margin-top:0px;margin-bottom:0px;max-height:660px;">
  	<div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:660px;height:660px;">
      <ul>
	  <!-- SLIDE  -->
    	<li data-transition="fade,slotfade-horizontal,slotfade-vertical" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off">
		<!-- MAIN IMAGE -->
    		<img src="https://www.hireachef.com/wp-content/uploads/2014/07/hireachef-slider2.jpg"  alt="hireachef-slider2"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		<!-- LAYER NR. 1 -->
    		<div class="tp-caption caption-primary-white tp-fade tp-resizeme"
    			data-x="0"
    			data-y="90"
    			data-speed="300"
    			data-start="1000"
    			data-easing="Power3.easeInOut"
    			data-splitin="none"
    			data-splitout="none"
    			data-elementdelay="0.1"
    			data-endelementdelay="0.1"
    			data-endspeed="300"
    			style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
          DIY taste with chef at home
    		</div>
    	</li>
	  <!-- SLIDE  -->
    	<li data-transition="fade,boxfade,slotfade-horizontal,slotfade-vertical" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
		<!-- MAIN IMAGE -->
    		<img src="http://ww4.sinaimg.cn/large/006tNc79gy1ffqr6f2op5j31hc0mstpx.jpg"  alt="hireachef-slider321"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
    		<!-- <div class="tp-caption caption-dark-bg3 tp-fade tp-resizeme"
    			data-x="5"
    			data-y="164"
    			data-speed="300"
    			data-start="500"
    			data-easing="Power3.easeInOut"
    			data-splitin="none"
    			data-splitout="none"
    			data-elementdelay="0.1"
    			data-endelementdelay="0.1"
    			data-endspeed="300"
    			style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
          Learn more about what a <br>
          Personal Chef can do for you.
    		</div> -->
		<!-- LAYER NR. 2 -->
    		<!-- <div class="tp-caption caption-primary-white2 tp-fade tp-resizeme"
    			data-x="72"
    			data-y="334"
    			data-speed="300"
    			data-start="500"
    			data-easing="Power3.easeInOut"
    			data-splitin="none"
    			data-splitout="none"
    			data-elementdelay="0.1"
    			data-endelementdelay="0.1"
    			data-endspeed="300"
    			style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
          Click on the video to the right
          <i class="ui--icon fontawesome-circle-arrow-right icon-inline-block" style="font-size: 18px;  width: 22px;  height: 22px;  color: #ffffff !important;  margin-right: 5px;"></i>
    		</div> -->
		<!-- LAYER NR. 3 -->
    		<!-- <div class="tp-caption tp-fade"
    			data-x="right" data-hoffset="-10"
    			data-y="center" data-voffset="0"
    			data-speed="300"
    			data-start="500"
    			data-easing="Power3.easeInOut"
    			data-elementdelay="0.1"
    			data-endelementdelay="0.1"
    			data-endspeed="300"
    			style="z-index: 4;"><img src="https://hireachef.com/wp-content/uploads/2014/09/tablet.png" alt="">
    		</div> -->
		<!-- LAYER NR. 4 -->
    		<!-- <div class="tp-caption tp-fade"
    			data-x="555"
    			data-y="135"
    			data-speed="300"
    			data-start="500"
    			data-easing="Power3.easeInOut"
    			data-elementdelay="0.1"
    			data-endelementdelay="0.1"
    			data-endspeed="300"
    			data-autoplay="false"
    			data-autoplayonlyfirsttime="false"
    			data-nextslideatend="true"
    			data-thumbimage="http://hireachef.com/wp-content/uploads/2014/09/video-prev2.jpg"
    			style="z-index: 5;"><iframe src='https://www.youtube.com/embed/O36iIOswK84?enablejsapi=1&amp;html5=1&amp;hd=1&wmode=opaque&controls=1&showinfo=0;;origin=https://www.hireachef.com;controls=0;' allowfullscreen='true' width='549' height='388' style='width:549px;height:388px;'></iframe>
    		</div> -->
    	</li>
      <li data-transition="fade,fadefromright,fadefromleft,fadefromtop,fadefrombottom" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
      <img src="https://www.hireachef.com/wp-content/uploads/2016/02/3724812_l-1.jpg"  alt="3724812_l-1"  data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat">
  <!-- LAYER NR. 1 -->
      <div class="tp-caption caption-dark-bg tp-fade tp-resizeme"
        data-x="132"
        data-y="308"
        data-speed="300"
        data-start="500"
        data-easing="Power3.easeInOut"
        data-splitin="none"
        data-splitout="none"
        data-elementdelay="0.1"
        data-endelementdelay="0.1"
        data-endspeed="300"
        style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
        Enjoy the food and your own ideas
      </div>
    </li>
    </ul>
    <div class="tp-bannertimer"></div>
  </div>
</div>
<script type="text/javascript">
/******************************************
	-	PREPARE PLACEHOLDER FOR SLIDER	-
******************************************/
				var setREVStartSize = function() {
            var	tpopt = new Object();
						tpopt.startwidth = 1170;
						tpopt.startheight = 660;
						tpopt.container = jQuery('#rev_slider_1_1');
						tpopt.fullScreen = "off";
						tpopt.forceFullWidth="on";
					tpopt.container.closest(".rev_slider_wrapper").css({height: tpopt.container.height()
        });
        tpopt.width=parseInt(tpopt.container.width(),0);tpopt.height=parseInt(tpopt.container.height(),0);tpopt.bw=tpopt.width/tpopt.startwidth;tpopt.bh=tpopt.height/tpopt.startheight;if(tpopt.bh>tpopt.bw)tpopt.bh=tpopt.bw;if(tpopt.bh<tpopt.bw)tpopt.bw=tpopt.bh;if(tpopt.bw<tpopt.bh)tpopt.bh=tpopt.bw;if(tpopt.bh>1) {
        tpopt.bw=1;tpopt.bh=1
        }
        if(tpopt.bw>1) {
        tpopt.bw=1;tpopt.bh=1
        }
        tpopt.height=Math.round(tpopt.startheight*(tpopt.width/tpopt.startwidth));if(tpopt.height>tpopt.startheight&&tpopt.autoHeight!="on")tpopt.height=tpopt.startheight;if(tpopt.fullScreen=="on") {
        tpopt.height=tpopt.bw*tpopt.startheight;var cow=tpopt.container.parent().width();var coh=jQuery(window).height();if(tpopt.fullScreenOffsetContainer!=undefined){try{var offcontainers=tpopt.fullScreenOffsetContainer.split(",");jQuery.each(offcontainers,function(e,t){coh=coh-jQuery(t).outerHeight(true);if(coh<tpopt.minFullScreenHeight)coh=tpopt.minFullScreenHeight
        })}
        catch(e) {
        }}
        tpopt.container.parent().height(coh);tpopt.container.height(coh);tpopt.container.closest(".rev_slider_wrapper").height(coh);tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(coh);tpopt.container.css( {
        height: "100%"
        });
        tpopt.height=coh;
        }
        else {
        tpopt.container.height(tpopt.height);tpopt.container.closest(".rev_slider_wrapper").height(tpopt.height);tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(tpopt.height);
        }
				};
				/* CALL PLACEHOLDER */
        setREVStartSize();
				var tpj=jQuery;
				tpj.noConflict();
				var revapi1;
				tpj(document).ready(function() {
        if(tpj('#rev_slider_1_1').revolution == undefined)
					revslider_showDoubleJqueryError('#rev_slider_1_1');
				else
				   revapi1 = tpj('#rev_slider_1_1').show().revolution(
					{
						dottedOverlay: "none",
						delay:8000,
						startwidth:1170,
						startheight:660,
						hideThumbs:200,
						thumbWidth:100,
						thumbHeight:50,
						thumbAmount:3,
						navigationType:"bullet",
						navigationArrows:"solo",
						navigationStyle:"round",
						touchenabled:"on",
						onHoverStop:"off",
						swipe_velocity: 0.7,
						swipe_min_touches: 1,
						swipe_max_touches: 1,
						drag_block_vertical: false,
						keyboardNavigation:"on",
						navigationHAlign:"center",
						navigationVAlign:"bottom",
						navigationHOffset:0,
						navigationVOffset:20,
						soloArrowLeftHalign:"left",
						soloArrowLeftValign:"center",
						soloArrowLeftHOffset:20,
						soloArrowLeftVOffset:0,
						soloArrowRightHalign:"right",
						soloArrowRightValign:"center",
						soloArrowRightHOffset:20,
						soloArrowRightVOffset:0,
						shadow:0,
						fullWidth:"on",
						fullScreen:"off",
						spinner:"spinner4",
						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,
						shuffle:"off",
						autoHeight:"off",
						forceFullWidth:"on",
						hideThumbsOnMobile:"off",
						hideNavDelayOnMobile:1500,
						hideBulletsOnMobile:"off",
						hideArrowsOnMobile:"off",
						hideThumbsUnderResolution:0,
												hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						startWithSlide:0
        });
				});	/*ready*/
		</script>
		<style type="text/css">
    	#rev_slider_1_1_wrapper .tp-loader.spinner4 div {
    background-color: #FFFFFF !important;
    }
  </style>
</div>
<!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**--><!-- **轮播图**-->


<!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证-->
<div id="page-content" class="no-sidebar-layout">
  <div class="container">
    <div id="the-content" >
      <div  class="fullwidth-container ui--section clearfix cloudfw-ui-parallax-effect section-999-1" style="margin-top: -30px;  margin-bottom: 50px;">
        <div  class="ui--section-content">
          <div class="container" style="margin-left:-1%;">
            <div id="home-three-sections">
              <h2 class="ui--animation " style="text-align: center; color: #424242 !important; ">
                The combination of your imagination and the chef's skills
              </h2>
        <div class="ui-row row"  style="margin-left:-200px; width:1200px;">
         <div   class="ui-column span4">
           <div class="ui--box-widget">
             <div  class="ui--content-box ui--box ui--content-item ui--animation ui-row">
               <div class="ui--content-box-header">
                 <div class="ui--content-box-media effect--fade type--image-hover clearfix" style="padding-bottom: 42.86%;">
                   <div class="ui--content-box-image-default">
                     <img  class="ui--content-box-image" src="https://www.hireachef.com/wp-content/uploads/2014/07/Rob-Wezwick-22-570x245.jpg" alt="" title=""/>
                   </div>
                   <div class="ui--content-box-overlay">
                     <div class="ui--content-box-overlay-image">
                       <img  class="ui--content-box-image"
                          src="https://www.hireachef.com/wp-content/uploads/2014/07/Rob-Wezwick-22-570x245.jpg" alt="" title=""/>
                        </div>
                      </div>
                    </div>
                    <div class="ui--content-box-title ui--gradient ui--gradient-grey on--hover clearfix text-left">
                      <h5 class="ui--content-box-title-text">
                        <img class="ui--icon"
                          src="https://hireachef.com/wp-content/uploads/2014/07/search-icon.png" alt="" data-at2x="" data-retina-auto="1" style="margin-right: 5px;"/>
                          Provide a door to door service
                        </h5>
                    </div>
                    </div>
                    <div class="ui--content-box-content">
                      <div class="ui--content-box-content-text">
                        <ul class="ui--list list-font-icon parent-1">
                      <li class="child-1 total-1 ui--animation">
                        <i class="list-icon 14px fontawesome-ok"></i>
                        <a href="javascript:void(0)">
                          The chef will be to your home, and diy the new taste with you
                        </a>
                      </li>
                      </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             <div   class="ui-column span4">
               <div class="ui--box-widget">
                 <div  class="ui--content-box ui--box ui--content-item ui--animation ui-row">
                   <div class="ui--content-box-header">
                     <div class="ui--content-box-media effect--fade type--default clearfix" style="padding-bottom: 42.86%;">
                       <div class="ui--content-box-image-default">
                         <img  class="ui--content-box-image" src="https://www.hireachef.com/wp-content/uploads/2014/07/Maria-Sakellariou2-570x245.jpg" alt="" title=""/>
                       </div>
                     </div>
                     <div class="ui--content-box-title ui--gradient ui--gradient-grey on--hover clearfix text-left">
                       <h5 class="ui--content-box-title-text">
                         <img class="ui--icon" src="https://hireachef.com/wp-content/uploads/2014/07/question-icon.png" alt="" data-at2x="" data-retina-auto="1" style="margin-right: 5px;"/>
                         How to DIY your new taste
                       </h5>
                     </div>
                   </div>
                   <div class="ui--content-box-content">
                     <div class="ui--content-box-content-text">
                       <ul class="ui--list list-font-icon parent-2">
                        <li class="child-1 total-2 ui--animation">
                          <i class="list-icon 14px fontawesome-ok"></i>
                          <a href="javascript:void(0)">
                            Selected ingredients and add to cart, and DIY dressing in the cart
                          </a>
                        </li>
                        </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               <div   class="ui-column span4">
                 <div class="ui--box-widget">
                   <div  class="ui--content-box ui--box ui--content-item ui--animation ui-row">
                     <div class="ui--content-box-header">
                       <div class="ui--content-box-media effect--fade type--default clearfix" style="padding-bottom: 42.86%;">
                         <div class="ui--content-box-image-default">
                           <img  class="ui--content-box-image" src="https://www.hireachef.com/wp-content/uploads/2014/07/Mark-Tafoya-22-570x245.jpg" alt="" title=""/>
                         </div>
                       </div>
                       <div class="ui--content-box-title ui--gradient ui--gradient-grey on--hover clearfix text-left">
                         <h5 class="ui--content-box-title-text">
                           <img class="ui--icon" src="https://hireachef.com/wp-content/uploads/2014/07/chef-hat-icon.png" alt="" data-at2x="" data-retina-auto="1" style="margin-right: 5px;"/>
                           Patent application for taste
                         </h5>
                       </div>
                     </div>
                     <div class="ui--content-box-content">
                       <div class="ui--content-box-content-text">
                         <ul class="ui--list list-font-icon parent-3">
                          <li class="child-1 total-1 ui--animation">
                            <i class="list-icon 14px fontawesome-ok"></i>
                            <a href="javascript:void(0)" target="_blank">
                              The good new dishes, can apply for a patent
                            </a>
                          </li>
                          </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--使用者见证--><!--使用者见证--><!--使用者见证--><!--使用者见证-->


<!-- **关于我们、手机、杂志**--><!-- **关于我们、手机、杂志**--><!-- **关于我们、手机、杂志**-->
<div class="ui-row row" style="margin-left:-200px; width:1200px;">
  <div   class="ui-column span4">
    <div class="ui--title ui--animation ui--title-bordered text-left box-title-view-more">
      <div class="ui--title-holder">
        <h3 class="ui--title-text">
          About Us
        </h3>
        <div class="ui--title-borders ui--title-border-left"></div>
        <div class="ui--title-borders ui--title-border-right"></div>
      </div>
    </div>
    <div  class="ui--tagline-box-wrapper ui--animation clearfix">
      <div  id="tagline-1" class="ui--tagline-box ui-row clearfix ui--tagline-box-custom-color radius-3px" data-responsive="{&quot;css&quot;:{&quot;min-height&quot;:{&quot;phone&quot;:&quot;auto&quot;,&quot;tablet&quot;:&quot;auto&quot;,&quot;widescreen&quot;:266}}}">
        <div  class="ui--tagline-background-container ui--tagline-background-overlay radius-3px"></div>
        <div  class="ui--tagline-background-container ui--tagline-background-image radius-3px"></div>
        <div  class="ui--tagline-content">
          <div class="ui--image-wrap clearfix" style="margin-bottom: 15px;">
            <img  id="ui--image-2" class="ui--image ui--animation" src="http://ww1.sinaimg.cn/large/006tNc79gy1ffqjclj3elj30l605wt94.jpg" alt="" title="" data-at2x=""/>
          </div>
          <div class="auto-format ui--animation">
            <p>To cook, tired of the rigid recipes, want to find the cook's purpose?For the public to more novel and delicious taste.Here, you can completely get rid of the bondage of recipes, create more in the form of DIY.
            </p>
          </div>
        </div>
      </div>
			<div class="ui--shadow ui--shadow-type-3  clearfix">
				<img src="https://www.hireachef.com/wp-content/themes/envision/includes/modules/module.shadow/shadows/shadow-3.png" alt="" />
			</div>
    </div>
  </div>
   <div  class="ui-column span4">
     <div class="home-contact-us-box">
       <div class="ui--title ui--animation ui--title-bordered text-left box-title-view-more">
         <div class="ui--title-holder">
           <h3 class="ui--title-text">
             Search For A Taste
           </h3>
           <div class="ui--title-borders ui--title-border-left"></div>
           <div class="ui--title-borders ui--title-border-right"></div>
         </div>
       </div>
       <div  class="ui--tagline-box-wrapper ui--animation clearfix">
         <div  id="tagline-2" class="ui--tagline-box ui-row clearfix ui--tagline-box-custom-color radius-3px" data-responsive="{&quot;css&quot;:{&quot;min-height&quot;:{&quot;phone&quot;:&quot;auto&quot;,&quot;tablet&quot;:&quot;auto&quot;,&quot;widescreen&quot;:266}}}">
         <div  class="ui--tagline-background-container ui--tagline-background-overlay radius-3px"></div>
         <div  class="ui--tagline-background-container ui--tagline-background-image radius-3px"></div>
         <div  class="ui--tagline-content">
         <div class="ui-row row">
         <div  class="ui-column span4">
           <div class="ui--image-wrap clearfix visible-desktop " style="margin-bottom: 0px;  margin-right: 10px;">
             <img  id="ui--image-3" class="ui--image ui--animation" src="http://ww4.sinaimg.cn/large/006tNc79gy1ffq3tmug59j304609240b.jpg" alt="" title="" data-at2x=""/>
           </div>
         </div>
          <div  class="ui-column span8">
            <div class="auto-format ui--animation">
              <p>A new taste may be created in your fingertips.</p>
              <ul>
                <li>Fast Reservation</li>
                <li>Free to DIY</li>
                <li>Create Taste with the Chef</li>
                <li>Patent application for your taster</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
		<div class="ui--shadow ui--shadow-type-3  clearfix">
			<img src="https://www.hireachef.com/wp-content/themes/envision/includes/modules/module.shadow/shadows/shadow-3.png" alt="" />
		</div>
		</div>
  </div>
</div>
  <div   class="ui-column span4">
     <div class="home-contact-us-box">
       <div class="ui--title ui--animation ui--title-bordered text-left box-title-view-more">
         <div class="ui--title-holder">
           <h3 class="ui--title-text">
             Our Blog
           </h3>
           <div class="ui--title-borders ui--title-border-left"></div>
           <div class="ui--title-borders ui--title-border-right"></div>
         </div>
       </div>
       <div  class="ui--tagline-box-wrapper ui--animation clearfix">
         <div  id="tagline-3" class="ui--tagline-box ui-row clearfix ui--tagline-box-custom-color radius-3px" data-responsive="{&quot;css&quot;:{&quot;min-height&quot;:{&quot;phone&quot;:&quot;auto&quot;,&quot;tablet&quot;:&quot;auto&quot;,&quot;widescreen&quot;:266}}}">
           <div  class="ui--tagline-background-container ui--tagline-background-overlay radius-3px"></div>
           <div  class="ui--tagline-background-container ui--tagline-background-image radius-3px"></div>
           <div  class="ui--tagline-content"><div>
      <script>
            jQuery(document).ready(function() {
          jQuery('iframe').contents().find('button.read').css('visibility','hidden');
          });
      </script>
      <div style="overflow: hidden;">
          <div style="float: left; margin-right: 15px;">
             <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ffqps7t21pj308c0b4dkx.jpg" style="width:140px;">
          </div>
          <h6 style="margin-bottom: 0px;">
            The development process of record
          </h6>
          <p>
            <span style="font-size: 12px;">(Some of our ideas, and to provide services)</span>
        </p>
          <p> <a href="http://jiujiubad-blog.logdown.com/">xieyuchu</a><br> <a href="http://yanghldeld-blog.logdown.com/">yanghaolin</a></p>
        </div>
      </div>
      </div>
      </div>
  			<div class="ui--shadow ui--shadow-type-3  clearfix">
  				<img src="https://www.hireachef.com/wp-content/themes/envision/includes/modules/module.shadow/shadows/shadow-3.png" alt="" />
  			</div>
      </div>
    </div>
  </div>
</div>
<!-- **关于我们、手机、杂志**--><!-- **关于我们、手机、杂志**-->


<!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**-->
<div  class="ui--space clearfix" style="height: 10px;" data-responsive="{&quot;css&quot;:{&quot;height&quot;:{&quot;phone&quot;:null,&quot;tablet&quot;:null,&quot;widescreen&quot;:&quot;10px&quot;}}}">
</div>
  <div class="text-center">
    <div  class="ui--tagline-box-wrapper ui--animation clearfix">
      <div  id="tagline-4" class="ui--tagline-box ui-row clearfix ui--tagline-box-custom-color radius-3px" data-responsive="{&quot;css&quot;:{&quot;min-height&quot;:{&quot;phone&quot;:&quot;auto&quot;,&quot;tablet&quot;:&quot;auto&quot;,&quot;widescreen&quot;:&quot;&quot;}}}">
        <div  class="ui--tagline-background-container ui--tagline-background-overlay radius-3px"></div>
        <div  class="ui--tagline-background-container ui--tagline-background-image radius-3px"></div>
        <div  class="ui--tagline-content" style="padding-top: 0px;  padding-bottom: 18px;">
          <div>
            <div class="pro_ad_system_ad_container ad_container_1" id="ad_container_1" style="width:728px; height:90px; background:#F4F4F4; overflow:hidden;" am_ads="2" rotation="0" rotation_time="0" theid="1">
              <div id="1" class="pro_ad_adzone_1_ad_0 adzone_ad_1 pro_ad_zone" style="display:none;">
                  <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ffq363my5dj30k802imxz.jpg" alt="Advertise With Us - 728x90 a" />
                </a>
              </div>
              <!-- <div id="1" class="pro_ad_adzone_1_ad_1 adzone_ad_1 pro_ad_zone" style="display:none;">
                  <img src="https://www.hireachef.com/wp-content/uploads/2016/11/Advertise-with-Us-728x90-Table.jpg" alt="Advertise With Us - 728x90 - Table" />
                </a>
              </div>
              <div id="1" class="pro_ad_adzone_1_ad_2 adzone_ad_1 pro_ad_zone" style="display:none;">
                  <img src="https://www.hireachef.com/wp-content/uploads/2016/11/Advertise-with-Us-728x90-fork-and-knife-.jpg" alt="Advertise With Us - 728x90 - fork and knife" />
                </a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div  class="ui--space clearfix" style="height: 50px;" data-responsive="{&quot;css&quot;:{&quot;height&quot;:{&quot;phone&quot;:null,&quot;tablet&quot;:null,&quot;widescreen&quot;:&quot;50px&quot;}}}">
</div>
<!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**--><!-- **分隔图片**-->


<!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**-->
<div class="ui-row row" style="margin-left:-200px; width:1200px;">
   <div   class="ui-column span6">
     <div class="ui--title ui--animation ui--title-bordered text-left box-title-view-more">
       <div class="ui--title-holder">
         <h3 class="ui--title-text">
           &nbsp;&nbsp;&nbsp;Inspiration
         </h3>
         <div class="ui--title-borders ui--title-border-left"></div>
         <div class="ui--title-borders ui--title-border-right"></div>
       </div>
     </div>
     <div  class="ui--tagline-box-wrapper ui--animation clearfix">
       <div  id="tagline-5" class="ui--tagline-box ui-row clearfix ui--tagline-box-custom-color radius-3px" data-responsive="{&quot;css&quot;:{&quot;min-height&quot;:{&quot;phone&quot;:&quot;auto&quot;,&quot;tablet&quot;:&quot;auto&quot;,&quot;widescreen&quot;:&quot;&quot;}}}">
         <div  class="ui--tagline-background-container ui--tagline-background-overlay radius-3px"></div>
         <div  class="ui--tagline-background-container ui--tagline-background-image radius-3px"></div>
         <div  class="ui--tagline-content">
           <div id="blog-1" class="ui--blog ui--blog-wrapper ui--pass" data-layout="mini" data-columns="1">
             <div class="ui--blog-item ui--animation ui--accent-gradient-hover-parent clearfix layout--mini">
               <div class="ui--blog-side ui--blog-date ui--accent-gradient-hover-parent ui--box">
                 <h3>
                   <span class="ui--blog-date-day ui--accent-gradient-hover">20</span>
                 </h3>
                 <h6 class="ui--blog-date-month ui--gradient ui--gradient-grey">
                   <span>APR</span>
                 </h6>
               </div>
               <div class="ui--blog-content-wrapper">
                 <div class="ui--blog-header">
                   <h5 class="ui--blog-title">
                     <a class="ui--blog-link" href="https://fullstack.xinshengdaxue.com/works/296" target="_blank">Inspired by a website to find bugs</a>
                   </h5>
                 </div>
                 <div class="ui--blog-content">
                   Find a bug net, bug information focused enough, can effectively reduce the teaching assistant work pressure...
                 </div>
                 <div class="ui--blog-readmore more-link">
                   <a class="btn btn-small btn-secondary muted" href="https://zhaobug.herokuapp.com/" target="_blank">Read More</a>
                 </div>
               </div>
             </div>
             <div class="ui--blog-item ui--animation ui--accent-gradient-hover-parent clearfix layout--mini last-item">
               <div class="ui--blog-side ui--blog-date ui--accent-gradient-hover-parent ui--box">
                 <h3>
                   <span class="ui--blog-date-day ui--accent-gradient-hover">22</span>
                 </h3>
                 <h6 class="ui--blog-date-month ui--gradient ui--gradient-grey">
                   <span>May</span>
                 </h6>
               </div>
               <div class="ui--blog-content-wrapper">
                 <div class="ui--blog-header">
                   <h5 class="ui--blog-title">
                     <a class="ui--blog-link" href="https://fullstack.xinshengdaxue.com/works/324" target="_blank">With design and ideas</a>
                   </h5>
                 </div>
                 <div class="ui--blog-content">Chayotes
                  Combining lowpoly recruitment website design elements of the Internet industry...
                </div>
                <div class="ui--blog-readmore more-link">
                  <a class="btn btn-small btn-secondary muted" href="https://fast-wildwood-87625.herokuapp.com/" target="_blank">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
			<div class="ui--shadow ui--shadow-type-3  clearfix">
				<img src="https://www.hireachef.com/wp-content/themes/envision/includes/modules/module.shadow/shadows/shadow-3.png" alt="" />
			</div>
		</div>
  </div>
<!-- **APP报道**--><!-- **APP报道**--><!-- **APP报道**--><!-- **APP报道**-->
 <div   class="ui-column span6">
   <div class="ui--title ui--animation ui--title-bordered text-left box-title-view-more">
     <div class="ui--title-holder">
       <h3 class="ui--title-text">
         &nbsp;&nbsp;&nbsp;Facebook Feed
       </h3>
       <div class="ui--title-borders ui--title-border-left"></div>
       <div class="ui--title-borders ui--title-border-right"></div>
     </div>
   </div>
 <div  class="ui--tagline-box-wrapper ui--animation clearfix">
    <div  id="tagline-6" class="ui--tagline-box ui-row clearfix ui--tagline-box-custom-color radius-3px" data-responsive="{&quot;css&quot;:{&quot;min-height&quot;:{&quot;phone&quot;:&quot;auto&quot;,&quot;tablet&quot;:&quot;auto&quot;,&quot;widescreen&quot;:&quot;&quot;}}}">
      <div  class="ui--tagline-background-container ui--tagline-background-overlay radius-3px"></div>
        <div  class="ui--tagline-background-container ui--tagline-background-image radius-3px"></div>
          <div  class="ui--tagline-content">
              <div class="ui-row row">
                <div   class="ui-column span12">
                  <div class="ui--carousel-item ui--twitter-style-plain ui--twitter-timeline-wrap ui--animation clearfix">
                		<div class="ui--twitter-timeline clearfix">
                			<div class="ui--twitter-timeline-content auto-format clearfix">
                        <i class="fa fa-facebook-official" aria-hidden="true" style="font-size: 22px;  width: 26px;  height: 26px; float:left;"></i>
                				<p>Xdite: the Personal Chefs, Your Food Safety and Handling Experts.
                          <a href="https://www.facebook.com/xdite" target="_blank">https://www.facebook.com/xdite</a>
                        </p>
                			</div>
                		</div>
                	</div>
                </div>
              </div>
              <br/>
              <div class="ui-row row">
                <div   class="ui-column span12">
                  <div class="ui--carousel-item ui--twitter-style-plain ui--twitter-timeline-wrap ui--animation clearfix">
                    <div class="ui--twitter-timeline clearfix">
                      <div class="ui--twitter-timeline-content auto-format clearfix">
                        <i class="fa fa-facebook-official" aria-hidden="true" style="font-size: 22px;  width: 26px;  height: 26px; float:left;"></i>
                        <p>Nic: The Best Way to Celebrate No Dirty Dishes Day.
                        <a href="https://www.facebook.com/bboyceo" target="_blank">https://www.facebook.com/bboyceo</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br/>
              <div class="ui-row row">
                <div   class="ui-column span12">
                  <div class="ui--carousel-item ui--twitter-style-plain ui--twitter-timeline-wrap ui--animation clearfix">
                    <div class="ui--twitter-timeline clearfix">
                      <div class="ui--twitter-timeline-content auto-format clearfix">
                        <i class="fa fa-facebook-official" aria-hidden="true" style="font-size: 22px;  width: 26px;  height: 26px; float:left;"></i>
                        <p>Ihower: I think name a better souffle than Cheese Souffle.
                          <a href="https://www.facebook.com/ihower" target="_blank">https://www.facebook.com/ihower</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br/>
              <div class="ui-row row">
                <div   class="ui-column span12">
                  <div class="ui--carousel-item ui--twitter-style-plain ui--twitter-timeline-wrap ui--animation clearfix">
                    <div class="ui--twitter-timeline clearfix">
                      <div class="ui--twitter-timeline-content auto-format clearfix">
                        <i class="fa fa-facebook-official" aria-hidden="true" style="font-size: 22px;  width: 26px;  height: 26px; float:left;"></i>
                        <p>Li Xiaolai: What is your favorite BBQ item? Food Entrepreneur.
                          <a href="https://www.facebook.com/xiaolai" target="_blank">https://www.facebook.com/xiaolai</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  	</div>
  </div>
</div>
<!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**--><!-- **NEWS新闻报道**-->




<script type='text/javascript' src='https://www.hireachef.com/wp-content/themes/envision/lib/js/jquery.prettyPhoto.js'>
</script>

</html>
