<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>大厨聚会</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
body {
}
.hr1 {
	background-color: #185630;
	height: 0.1em;
	margin-top: 6em;
}
.font-drpo1 {
	color: #185630;
	font-size:4.5em;
	font-weight: 300;
	letter-spacing: 0.2em;
}
.font-drpo1:hover {
	color: #000;
	font-size:4.53em;
	transition: 0.5s;
}
.carousel-inner > .item {
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -o-transition: -o-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}
.nav-party {
  border: 0;
  background-color: rgba(245,245,245,0.8)
  ;
}
.nav-party .navbar-nav > li > a {
    color: #666666;
}
.nav-party .navbar-header > a {
    color: #666666;
}
</style>
</head>
<body>

<div class="col-md-8 col-centered text-center" style="margin-top:80px; margin-bottom:20px;">
	<a href="#"><p class="font-drpo1">大厨聚会</p></a>
</div>

<nav class="navbar navbar-default navbar-fixed-top nav-party" role="navigation">
	<div class="container-fluid">
    <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#example-navbar-collapse">
				<span class="sr-only">切换导航</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
      <a class="navbar-brand" href="/party/index">大厨聚会</a>
    </div>
		<div class="collapse navbar-collapse" id="example-navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">品味食验室</a></li>
				<li><a href="/dproducts">黑暗料理</a></li>
				<li><%= link_to("大厨招聘", jobs_path) %></li>
			</ul>
		</div>
	</div>
</nav>


<div id="myCarousel" class="carousel slide">
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
		<li data-target="#myCarousel" data-slide-to="4"></li>
		<li data-target="#myCarousel" data-slide-to="5"></li>
		<li data-target="#myCarousel" data-slide-to="6"></li>
		<li data-target="#myCarousel" data-slide-to="7"></li>
	</ol>

	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner">
		<div class="item active">
		    <img src="https://ws2.sinaimg.cn/large/006tNc79gy1fg3q1j3od4j30zk0k0noz.jpg" alt="First slide" class="center-block">
		</div>
		<div class="item">
		    <img src="https://ws4.sinaimg.cn/large/006tNc79gy1fg3q1kw8y4j30zk0k0e81.jpg" alt="Second slide" class="center-block">
		</div>
		<div class="item">
		    <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fg3q1lidm8j30zk0k01as.jpg" alt="Third slide" class="center-block">
		</div>
		<div class="item">
				<img src="https://ws1.sinaimg.cn/large/006tNc79gy1fg3ramc72rj30zk0k0npd.jpg" alt="Third slide" class="center-block">
		</div>
		<div class="item">
				<img src="https://ws3.sinaimg.cn/large/006tNc79gy1fg3ran3pghj30zk0k0h6z.jpg" alt="Third slide" class="center-block">
		</div>
		<div class="item">
				<img src="https://ws4.sinaimg.cn/large/006tNc79gy1fg3rdgbwd5j30zk0k01h5.jpg" alt="Third slide" class="center-block">
		</div>
		<div class="item">
				<img src="https://ws4.sinaimg.cn/large/006tNc79gy1fg3rdh9d9hj30zk0k0b29.jpg" alt="Third slide" class="center-block">
		</div>
		<div class="item">
				<img src="https://ws1.sinaimg.cn/large/006tNc79gy1fg3rdu3xq3j30zk0k0e81.jpg" alt="Third slide" class="center-block">
		</div>
	</div>
	<!-- 轮播（Carousel）导航 -->
	<!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">›</a> -->
</div>

<!-- 控制按钮 -->

<div style="text-align:center; margin-top:10px;">
  <span class="slide-one">
    <img src="https://ws1.sinaimg.cn/large/006tNc79gy1fg4k4xmot1j302h01e3yn.jpg">&nbsp;
  </span>
  <span class="slide-two">
    <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fg4k4xi37kj302h01e3ym.jpg">&nbsp;
  </span>
  <span class="slide-three">
    <img src="https://ws2.sinaimg.cn/large/006tNc79gy1fg4k4xdy7ij302h01emx8.jpg">&nbsp;
  </span>
	<span class="slide-four">
		<img src="https://ws3.sinaimg.cn/large/006tNc79gy1fg4k4x4bitj302h01e0sv.jpg">&nbsp;
	</span>
	<span class="slide-five">
		<img src="https://ws1.sinaimg.cn/large/006tNc79gy1fg4k4x0rhtj302h01emxa.jpg">&nbsp;
	</span>
	<span class="slide-six">
		<img src="https://ws2.sinaimg.cn/large/006tNc79gy1fg4k4wwq3jj302h01ejrh.jpg">&nbsp;
	</span>
	<span class="slide-seven">
		<img src="https://ws4.sinaimg.cn/large/006tNc79gy1fg4k4wrf50j302h01e3ym.jpg">&nbsp;
	</span>
	<span class="slide-eight">
		<img src="https://ws2.sinaimg.cn/large/006tNc79gy1fg4k4wmjsgj302h01et8s.jpg">&nbsp;
	</span>
</div>

<div class="col-md-10 col-centered">
	<div class="hr1"></div>
</div>

<div class="text-center" style="margin-top:400px; margin-bottom:400px; letter-spacing:10px; color: #185630">
  <h3>大厨聚会 饕餮盛宴</h3>
  <h3>再也不用思考 和谁吃、吃什么</h3>
  <h3>只给爱冒险的你</h3>
</div>

<div class="col-md-10 col-centered">
	<div class="hr1"></div>
</div>

<div class="text-center" style="margin-top:200px;">
  <img src="https://ws4.sinaimg.cn/large/006tNbRwgy1fg8e19pxtvj30ve090k2p.jpg" alt="">
</div>

<div class="text-center" style="margin:200px 0px; color: #185630">
  <h4>活动时间：6月11日（周日）13:50 ~ 16:30</h4>
  <h4>活动地点：北京市朝阳区建外SOHO东区</h4>
  <h4>报名费：299 元/ 人（含场地费用、服务费用）</h4>
  <h4>名额：限额50人</h4>
</div>

<div class="text-center" style="margin-top:100px;">
  <img src="https://ws2.sinaimg.cn/large/006tNbRwgy1fg8ffcfsokj30gc0cfqf3.jpg" alt="">
</div>

<div class="text-center" style="margin-top:10px;">
  <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1fg8e19co8gj307l05pq3y.jpg" alt="">
  <img src="https://ws1.sinaimg.cn/large/006tKfTcgy1fg8e19axrqj307v05paak.jpg" alt="">
  <img src="https://ws4.sinaimg.cn/large/006tNbRwgy1fg8e19fxb0j308l05qt98.jpg" alt="">
</div>

<script>
	$(function(){
		// 初始化轮播
		$(".start-slide").click(function(){
			$("#myCarousel").carousel('cycle');
		});
		// 停止轮播
		$(".pause-slide").click(function(){
			$("#myCarousel").carousel('pause');
		});
		// 循环轮播到上一个项目
		$(".prev-slide").click(function(){
			$("#myCarousel").carousel('prev');
		});
		// 循环轮播到下一个项目
		$(".next-slide").click(function(){
			$("#myCarousel").carousel('next');
		});
		// 循环轮播到某个特定的帧
		$(".slide-one").click(function(){
			$("#myCarousel").carousel(0);
		});
		$(".slide-two").click(function(){
			$("#myCarousel").carousel(1);
		});
		$(".slide-three").click(function(){
			$("#myCarousel").carousel(2);
		});
		$(".slide-four").click(function(){
			$("#myCarousel").carousel(3);
		});
		$(".slide-five").click(function(){
			$("#myCarousel").carousel(4);
		});
		$(".slide-six").click(function(){
			$("#myCarousel").carousel(5);
		});
		$(".slide-seven").click(function(){
			$("#myCarousel").carousel(6);
		});
		$(".slide-eight").click(function(){
			$("#myCarousel").carousel(7);
		});
		$('.carousel').carousel({
				interval: 4000
		});
	});
</script>
</body>
</html>
