<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>黑暗料理</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
body {
}
.hr1 {
	background-color: #185630;
	height: 0.1em;
	margin-top: 6em;
}
.font-drpo1 {
	color: #185630;
	font-size:4.5em;
	font-weight: 300;
	letter-spacing: 0.2em;
}
.font-drpo1:hover {
	color: #000;
	font-size:4.53em;
	transition: 0.5s;
}
.nav-dpro1 {
	background-color: #fff;
	border: none;
	color: #185630;
	font-size: 1.2em;
}
.nav-dpro1 .navbar-nav>li>a {
  color: #185630;
}
.carousel-inner > .item {
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -o-transition: -o-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}
</style>
</head>
<body>
<div class="col-md-8 col-centered">
	<a href="#"><p class="font-drpo1">黑暗料理</p></a>
</div>

<nav class="navbar navbar-default col-md-8 col-centered nav-dpro1">
	<ul class="nav navbar-nav">
		<li><a href="/">品味实验室</a></li>
	</ul>
	<ul class="nav navbar-nav pull-right">
		<li><a href="/dproducts?dcategory=肉">肉</a></li>
		<li><a href="/dproducts?dcategory=菜">菜</a></li>
    <li><a href="/dproducts?dcategory=调料">料</a></li>
    <li><a href="/dproducts?dcategory=厨师">厨</a></li>
		<li><a href="/dcarts">后厨&nbsp;<i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
	</ul>
</nav>


<div id="myCarousel" class="carousel slide">
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
		<li data-target="#myCarousel" data-slide-to="4"></li>
		<li data-target="#myCarousel" data-slide-to="5"></li>
		<li data-target="#myCarousel" data-slide-to="6"></li>
		<li data-target="#myCarousel" data-slide-to="7"></li>
	</ol>

	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner">
		<div class="item active">
		    <img src="https://ws2.sinaimg.cn/large/006tNc79gy1fg3q1j3od4j30zk0k0noz.jpg" alt="First slide" class="center-block">
		</div>
		<div class="item">
		    <img src="https://ws4.sinaimg.cn/large/006tNc79gy1fg3q1kw8y4j30zk0k0e81.jpg" alt="Second slide" class="center-block">
		</div>
		<div class="item">
		    <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fg3q1lidm8j30zk0k01as.jpg" alt="Third slide" class="center-block">
		</div>
		<div class="item">
				<img src="https://ws1.sinaimg.cn/large/006tNc79gy1fg3ramc72rj30zk0k0npd.jpg" alt="Third slide" class="center-block">
		</div>
		<div class="item">
				<img src="https://ws3.sinaimg.cn/large/006tNc79gy1fg3ran3pghj30zk0k0h6z.jpg" alt="Third slide" class="center-block">
		</div>
		<div class="item">
				<img src="https://ws4.sinaimg.cn/large/006tNc79gy1fg3rdgbwd5j30zk0k01h5.jpg" alt="Third slide" class="center-block">
		</div>
		<div class="item">
				<img src="https://ws4.sinaimg.cn/large/006tNc79gy1fg3rdh9d9hj30zk0k0b29.jpg" alt="Third slide" class="center-block">
		</div>
		<div class="item">
				<img src="https://ws1.sinaimg.cn/large/006tNc79gy1fg3rdu3xq3j30zk0k0e81.jpg" alt="Third slide" class="center-block">
		</div>
	</div>
	<!-- 轮播（Carousel）导航 -->
	<!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">›</a> -->
</div>

<!-- 控制按钮 -->

<div style="text-align:center; margin-top:10px;">
  <span class="slide-one">
    <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fg4j2n7vjrj302q01j0sx.jpg">&nbsp;
  </span>
  <span class="slide-two">
    <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fg4j2n5csij302q01jwen.jpg">&nbsp;
  </span>
  <span class="slide-three">
    <img src="https://ws2.sinaimg.cn/large/006tNc79gy1fg4j3gxzaoj302q01j74e.jpg">&nbsp;
  </span>
	<span class="slide-four">
		<img src="https://ws1.sinaimg.cn/large/006tNc79gy1fg4j3gtbbhj302q01j3yp.jpg">&nbsp;
	</span>
	<span class="slide-five">
		<img src="https://ws4.sinaimg.cn/large/006tNc79gy1fg4j3ss0d4j302q01jaa7.jpg">&nbsp;
	</span>
	<span class="slide-six">
		<img src="https://ws3.sinaimg.cn/large/006tNc79gy1fg4j3t0lhzj302q01jjrk.jpg">&nbsp;
	</span>
	<span class="slide-seven">
		<img src="https://ws3.sinaimg.cn/large/006tNc79gy1fg4j456huvj302q01jwen.jpg">&nbsp;
	</span>
	<span class="slide-eight">
		<img src="https://ws4.sinaimg.cn/large/006tNc79gy1fg4j454s8ej302q01jaa6.jpg">&nbsp;
	</span>
</div>

<div class="col-md-10 col-centered">
	<div class="hr1"></div>
</div>


<div class="col-md-10 col-centered" style="margin-top:6.2em;">
  <% @dproducts.each do |dproduct| %>
		<div class="col-xs-6 col-md-3" style="text-align:center; margin-bottom:6.2em;">
      <% if dproduct.image.present? %>
        <%= image_tag(dproduct.image.thumb.url, class: "") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
      <% end %>

      <h4><%= dproduct.title %></h4>
      <% if dproduct.quantity.present? && dproduct.quantity > 0 %>
        <%= link_to(add_to_dcart_dproduct_path(dproduct), :method => :post, :class => "btn btn-default") do %>
          加入后厨
        <% end %>
      <% else %>
          都在碗里了
      <% end %>
		</div>
  <% end %>
</div>



<script>
	$(function(){
		// 初始化轮播
		$(".start-slide").click(function(){
			$("#myCarousel").carousel('cycle');
		});
		// 停止轮播
		$(".pause-slide").click(function(){
			$("#myCarousel").carousel('pause');
		});
		// 循环轮播到上一个项目
		$(".prev-slide").click(function(){
			$("#myCarousel").carousel('prev');
		});
		// 循环轮播到下一个项目
		$(".next-slide").click(function(){
			$("#myCarousel").carousel('next');
		});
		// 循环轮播到某个特定的帧
		$(".slide-one").click(function(){
			$("#myCarousel").carousel(0);
		});
		$(".slide-two").click(function(){
			$("#myCarousel").carousel(1);
		});
		$(".slide-three").click(function(){
			$("#myCarousel").carousel(2);
		});
		$(".slide-four").click(function(){
			$("#myCarousel").carousel(3);
		});
		$(".slide-five").click(function(){
			$("#myCarousel").carousel(4);
		});
		$(".slide-six").click(function(){
			$("#myCarousel").carousel(5);
		});
		$(".slide-seven").click(function(){
			$("#myCarousel").carousel(6);
		});
		$(".slide-eight").click(function(){
			$("#myCarousel").carousel(7);
		});
		$('.carousel').carousel({
				interval: 4000
		});
	});
</script>
</body>
</html>
