<h2>订单列表 </h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>生成时间</th>

    </tr>
  </thead>
  <tbody>

    <% @dorders.each do |dorder| %>
    <tr>
      <td> <%= link_to(dorder.id, dorder_path(dorder.token)) %> </td>
      <td> <%= dorder.created_at.to_s(:long) %> </td>
    </tr>
    <% end %>

  </tbody>
</table>
