/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


//=============== Common_Navbar ===============//
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar .container-fluid {
  margin-left: -20px;
  margin-right: -20px;
}
.nav-to-nav-1 {
  margin-top: -20px;
}
.nav-to-nav-1 img {
    width: auto\9;
    height: auto;
    max-width: 80%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    margin-left: 250px;
}


//=============== Product_Search ===============//
.input-group {
  width:276px;
  margin-top: 12px;
  padding-bottom: 0px;
}
