/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


//=============== Product_Search ===============//
.input-group {
  width:200px;
  margin-top: 5px;
  padding-bottom: 0px;
  margin-right: 20px;
}
.color-1 {
  background-color: red;
}

//=============== Common_Navbar ===============//
.navbar-color-1 {
   border-color:#C73234;
   border-radius:0px;
   border: 20px;
   background-color: #fff;
}
.navbar-default .navbar-nav > li > a {//小导航字体
  color: #fff;
  margin-top: -5px;
  margin-right: 20px;
  margin-left: -30px;
}
.navbar .container-fluid {//小导航满屏
  margin-left: -20px;
  margin-right: -20px;
}
.nav-to-nav-1 {//大导航位置
  margin-top: -20px;
  background-color: #fff;
}
.nav-to-nav-1 .col-md-6 img {
  width: 58%;
  margin-left: 20%;
}
.nav-button-1 {
  padding-right: 20%;
  padding-top: 4%;
}
.navbar-fixed-top {//navbar置顶
    top: 0px;
    margin-bottom: 200px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1030;
}

//=============== Command_Footer ===============//
.font-OpenSans-14 {
  font-family: Open Sens;
  font-size: 13px;
  font-weight: 400;
}
