// Place all the styles related to the dproducts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg-dpro-index-1 {
  background-image: url(http://ww3.sinaimg.cn/large/006tKfTcgy1ffvmxfsdruj307h07hacq.jpg);
  background-size: 100% 100%;
  background-color: red;
  position: absolute;
  width: 220px;
  height: 220px;
}


.img-index-posi-1 {
  position:absolute;
  top:6%;
  left:6%;
  width: 250px;
  height: 250px;
}
.img-index-posi-2 {
  position:absolute;
  top:34%;
  left:23%;
  width: 250px;
  height: 250px;
}
.img-index-posi-3 {
  position:absolute;
  top:60%;
  left:6%;
  width: 250px;
  height: 250px;
}
.p-index-posi-1 {
  position:absolute;
  margin-top: -200px;
  margin-left: 40px;
  font-size: 60px;
  font-weight: 900;
  color: #fff;
}
.p-index-posi-2 {
  position:absolute;
  margin-top: -130px;
  margin-left: 20px;
  font-size: 50px;
  font-weight: 900;
  color: #fff;
}
.p-index-posi-3 {
  position:absolute;
  margin-top: -120px;
  margin-left: 90px;
  font-size: 25px;
  font-weight: 900;
  color: #fff;
}
.p-index-posi-4 {
  position:absolute;
  margin-top: -100px;
  margin-left: 90px;
  font-size: 25px;
  font-weight: 900;
  color: #fff;
}
.p-index-posi-5 {
  position:absolute;
  margin-top: -120px;
  margin-left: 90px;
  font-size: 25px;
  font-weight: 900;
  color: #fff;
}
.p-index-posi-6 {
  position:absolute;
  margin-top: -100px;
  margin-left: 90px;
  font-size: 25px;
  font-weight: 900;
  color: #fff;
}
