<h1>特别鸣谢：</h1>

<h3>感谢xdite老师的头香；</h3><h3>

感谢秦峰助教的鼓励；</h3><h3>
感谢Nic助教的手滑；</h3><h3>
感谢YY助教的豪爽；</h3><h3>
感谢王秒助教的好吃；</h3><h3>

感谢伍兰学姐；</h3><h3>
感谢夏宁学姐；</h3><h3>
感谢谢燕琳学姐；</h3><h3>
感谢潘秀斌学姐；</h3><h3>
感谢陈慧娟学姐；</h3><h3>
感谢赵雪娇学姐；</h3><h3>
感谢刘慧玲学姐；</h3><h3>
感谢孙雁飞学姐；</h3><h3>
感谢乌龙明月学姐；</h3><h3>
感谢skyflyme学姐；</h3><h3>
感谢daniel学长；</h3><h3>
感谢kevin 学长；</h3><h3>
感谢苏江学长 ；</h3><h3>
感谢李思成学长；</h3><h3>
感谢刘志新学长；</h3><h3>
感谢戴建林学长；</h3><h3>
感谢miaoxiaoge学长；</h3><h3>

感谢所以slack上所有助教；</h3><h3>

感谢李凌同学；</h3><h3>
感谢巧玉同学；</h3><h3>
感谢笑飞飞同学；</h3><h3>
感谢董明娟同学；
</h3><h3>
感谢郭柃君同学；
</h3>
<h3>
感谢韵儿爸爸同学；
</h3>
<h3>
	感谢各位投票的亲们；
</h3>
<h3>
	感谢各位一路以来得支持与错爱。
</h3>
