<footer>
	<div class="container-fluid">
		<div class="row row-foot-1">
			<div class="col-md-10 col-centered">
				<div class="col-md-6 col-sm-6 col-xs-6 font-color-foot">
					<h5>Quick Menu</h5>
					<hr/ class="hr-foot-1">
					<a href="/">>&nbsp;&nbsp;Home</a>
					<hr/ class="hr-foot-2">
					<a href="products">>&nbsp;&nbsp;Products</a>
					<hr/ class="hr-foot-2">
					<a href="carts">>&nbsp;&nbsp;Carts</a>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 font-color-foot hr-color-foot">
					<h5>Quick Menu</h5>
					<hr/ class="hr-foot-1">
					<a href="javascript:void(0)">>&nbsp;&nbsp;Search For A Chef</a>
					<hr/ class="hr-foot-2">
					<a href="javascript:void(0)">>&nbsp;&nbsp;About us</a>
					<hr/ class="hr-foot-2">
					<a href="javascript:void(0)">>&nbsp;&nbsp;Contact us</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 img-posi-1">
		<img src='<%= image_url 'logo1f.png' %>' class="img-foot-1">
	</div>
	<p class="p-posi-2">
		© 2017 Taste Laboratory & Dark Cuisine Association, LLC . All Rights Reserved.
	</p>
	<div class="p-bg-1">
		<p class="p-posi-1">
			Designed by	谢育初 & 杨昊霖
		</p>
	</div>
</footer>
