
<!-- <footer class="row row-footer1">
    <p class="text-center">©2017 品味实验室
      <br>Designed by	&nbsp;&nbsp;谢育初 & 杨昊霖
    </p>
</footer> -->

<footer class="row row-footer1">
	<div class="container-fluid text-center">
    <p class="text-center">©2017 品味实验室
      <br>Designed by	&nbsp;&nbsp;谢育初 & 杨昊霖
    </p>
	</div>
</footer>
