<!-- <footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 JDStore
        <br>Design by jiujiubad
    </p>
</footer> -->


<!-- **foot面板**--><!-- **foot面板**--><!-- **foot面板**-->
	<footer class="ui-dark" style="margin-left:-300px;">
		<div id="footer-widgets">
			<div class="container">
				<div id="footer-widgets-row1">
					<div class="ui-row row" style="width:1200px; height:198px;">
						<aside class="widget-area span6">
							<div id="nav_menu-3" class="widget widget-footer widget_nav_menu">
                <h4 class="footer-widget-title ui--widget-title">
                  Quick Menu
                </h4>
                <div class="menu-footer-menu-1-container">
                  <ul id="menu-footer-menu-1" class="menu">
                    <li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item menu-item-84">
                      <a href="/">
                        Home
                      </a>
                    </li>
                    <li id="menu-item-85" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-85">
                      <a href="products">
                        Products
                      </a>
                    </li>
                    <li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86">
                      <a href="carts">
                        Carts
                      </a>
                    </li>
                  </ul>
              </div>
              </div>
            </aside>
						<aside class="widget-area span6">
							<div id="nav_menu-4" class="widget widget-footer widget_nav_menu">
                <h4 class="footer-widget-title ui--widget-title">
                  For Taste
                </h4>
                <div class="menu-footer-menu-2-container">
                  <ul id="menu-footer-menu-2" class="menu">
                    <li id="menu-item-188" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-188">
                      <a href="javascript:void(0)">Search For A Chef</a>
                    </li>
                    <li id="menu-item-91" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-91">
                      <a href="javascript:void(0)">About us</a>
                    </li>
                    <li id="menu-item-90" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90">
                      <a href="javascript:void(0)">Contact us</a>
                    </li>
                  </ul>
                </div>
              </div>
            </aside>
					</div>
				</div>
  			<div class="footer-widgets-row-separator ui--footer-seperator-color"></div>
  				<div id="footer-widgets-row2">
  					<div class="ui-row row">
  						<aside class="widget-area span12">
  							<div id="text-7" class="widget widget-footer widget_text">
                  <div class="textwidget">
                    <div class="ui--image-wrap clearfix text-center ui--block" style="margin-bottom: 15px;">
                      <img  id="ui--image-4" class="ui--image ui--animation" src='<%= image_url 'logo2.png' %>' style="width:300px;">
                    </div>
                    <p style="text-align: center;">
                      © 2017 Taste Laboratory & Dark Cuisine Association, LLC . All Rights Reserved.
                    </p>
                  </div>
  		          </div>
              </aside>
  					</div>
  				</div>
			</div>
		</div>
<!-- **foot信息栏**--><!-- **foot信息栏**--><!-- **foot信息栏**-->
  	<div id="footer-bottom" class="">
  		<div class="container">
        <p class="font-OpenSans-14" style="margin-left:60%;">
          Designed by	谢育初 & 杨昊霖
        </p>
      </div>
  	</div>
</footer>
<!-- **foot面板**--><!-- **foot面板**--><!-- **foot面板**-->
