<nav class="navbar navbar-default navbar-static-top nav-style" role="navigation">
	<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">品味实验室</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
          <li><a href="/products">原材料</a></li>
					<li><a href="/carts">实验室</a></li>
					<li><a href="/dproducts">黑暗料理</a></li>
        </ul>
    </div>
	</div>
</nav>
