<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: rgba(10,25,30,1)">  
  <div class="container-fluid">
    <div class="row">
      <%= yield %>
    </div>
  </div>
</body>
</html>
