<!DOCTYPE html>
<html>
<head>
  <title>JDstore 后台</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="log-bg-1">
  <div class="container-fluid">
    <div class="row row-log-1">
      <div class="col-md-4 col-centered">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
